<h2 *ngIf="isMobile" class="text-center">Search</h2>
<form [formGroup]="searchForm" class="!m-0 pl-3 sm:w-[472px]">
  <input
    class="search !mb-0"
    type="text"
    formControlName="search"
    (input)="onInputChange($event)"
    [placeholder]="
      isMobile
        ? 'Search your works (ex. : &quot;Batman&quot;, ...)'
        : 'Search your works (ex. : &quot;Batman&quot;, &quot;Breaking Bad&quot;...)'
    "
  />
</form>

<ng-container *ngIf="searchResults$ | async as searchResults">
  <ng-container *ngIf="searchResultsVisible">
    <div class="searchResultsDiv">
      <ng-container *ngIf="isLoading; else contentOrEmpty">
        <app-skeleton-search-item [user]="user"></app-skeleton-search-item>
      </ng-container>
      <ng-template #contentOrEmpty>
        <div
          class="search searchDiv"
          *ngIf="searchResults.length > 0; else noResults"
          [ngClass]="{
            '!overflow-y-visible': searchResults.length < 4
          }"
        >
          <div class="relative line" *ngFor="let searchResult of searchResults">
            <app-search-item [searchResult]="searchResult"></app-search-item>
          </div>
          <ng-container *ngIf="pagination.page < pagination.totalPages">
            <a
              class="seeAll btn btn-transparent mb-3"
              (click)="closeModals()"
              [routerLink]="['/search/' + searchTerm]"
              >See all results</a
            >
          </ng-container>
        </div>
      </ng-template>
    </div>
  </ng-container>
</ng-container>

<ng-template #noResults>
  <p class="font-bold !mt-2 !mb-3" *ngIf="!searchForm.get('search')?.pristine">
    Nothing found.
  </p>
</ng-template>
