@use "src/styles/form.scss";

:host {
  @apply relative;
}

form {
  @apply relative z-50;
}

.searchResultsDiv {
  @apply absolute top-[114px] mobile:top-[42px] left-3 z-40 w-[calc(100%-32px)] rounded-lg bg-white dark:bg-black-dark pt-3 px-0 mobile:px-2;

  div.search {
    @apply overflow-y-scroll h-[calc(100%-180px)] sm:h-auto max-h-full mobile:max-h-[600px] sm:max-h-[430px];

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > div {
      @apply sm:flex justify-between items-center mb-4;
    }
  }
}
