.infos {
  @apply flex justify-start items-center;

  .icon {
    @apply relative w-[90px] h-[90px] rounded-full overflow-hidden mr-2;

    &.default {
      @apply bg-whitegrey;

      img {
        @apply absolute inset-y-2/4 -translate-y-2/4 left-1/2 -translate-x-2/4;
      }
    }
  }

  .metas {
    @apply text-base;

    .title {
      @apply font-bold;
    }
  }
}
