<div class="infos cursor-pointer" (click)="openModal(searchResult._id)">
  <div class="icon" *ngIf="searchResult.cover; else default">
    <img
      src="{{ imagesPath }}{{ searchResult.type }}{{ searchResult.cover }}"
      alt="{{ searchResult.title }}"
    />
  </div>
  <ng-template #default>
    <div class="icon default">
      <img
        src="./assets/images/icons/{{ searchResult.type }}.svg"
        alt="{{ searchResult.title }}"
      />
    </div>
  </ng-template>
  <div class="metas w-[calc(100%-106px)]">
    <div class="title">{{ searchResult.title }}</div>
    <div class="release">
      <ng-container *ngIf="isMangaOrComic(searchResult); else notMangaOrComic">
        <div class="date text-sm">
          {{ searchResult.releaseDate }}
        </div>
      </ng-container>
      <ng-template #notMangaOrComic>
        <div class="date text-sm">
          {{ searchResult.releaseDate | date: "yyyy" }}
        </div>
      </ng-template>
      <ng-container *ngIf="searchResult | guardType: isGame as game">
        <ng-container *ngIf="getGameCategories(game.category)">
          <span class="italic text-grey">{{
            getGameCategories(game.category)
          }}</span>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="searchResult | guardType: isComic as comic">
        <ng-container *ngIf="comic.publisher">
          <span class="italic text-grey">{{ comic.publisher }}</span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<app-modal
  [modalId]="'search_' + searchResult._id"
  classes="worksDetailsModal overflow-y-scroll"
>
  <ng-container
    *ngTemplateOutlet="detailsTemplate; context: {$implicit: searchResult}"
  ></ng-container>
  <ng-template #detailsTemplate let-item let-list="list">
    <ng-container
      *ngComponentOutlet="detailsComponent; inputs: {item: searchResult}"
    ></ng-container>
  </ng-template>
</app-modal>
