<div class="stats">
  <swiper-container
    init="false"
    pagination="true"
    pagination-clickable="true"
    space-between="16"
  >
    <swiper-slide>
      <app-latest-discovery
        class="m-auto mb-4"
        [content]="content"
        [isMobile]="true"
      ></app-latest-discovery>
    </swiper-slide>
    <swiper-slide>
      <app-month-activity
        class="m-auto mb-4"
        [user]="user"
        [isMobile]="true"
      ></app-month-activity
    ></swiper-slide>
  </swiper-container>
</div>
