:host {
  @apply relative;
}

h2 {
  @apply text-xl mb-2 inline-block bg-clip-text text-transparent bg-gradient-to-r from-yellow-light to-yellow-dark;
}

.timeline {
  @apply fixed overflow-y-scroll pb-12 top-[115px] right-0 gap-3 flex flex-col h-[95%] opacity-0 hover:opacity-100 transition-all duration-500;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .year {
    @apply text-sm sm:text-base flex-1 cursor-pointer flex flex-col items-end sm:block;

    & > div {
      @apply mb-3 sm:mb-4 py-[5px] sm:py-0 pl-[5px] sm:pl-0 pr-[5px] sm:pr-1 bg-white sm:bg-transparent rounded-lg dark:text-black dark:sm:text-white;
    }
  }

  .month {
    @apply relative pr-0 mb-2 sm:mb-3 cursor-pointer;

    &.active {
      @apply text-sm sm:text-base text-black;

      &:after {
        content: "";
        @apply absolute -right-1 -bottom-[2px] sm:-bottom-[5px] block w-6 sm:w-4 h-[2px] bg-yellow-dark;
      }
    }
  }
}

.loaderVisible {
  @apply opacity-100 z-0 #{!important};
}
