<div *ngIf="content">
  <ng-container *ngIf="!isMobile; else mobileFilters">
    <app-filters
      [filters]="filters"
      [sortOptions]="sortOptions"
      [defaultFilter]="activeFilter"
      (filterChanged)="filterByGenre($event)"
      (sortingChanged)="sort($event)"
    ></app-filters>
  </ng-container>
  <ng-template #mobileFilters>
    <app-filters-mobile
      [filters]="filters"
      [sortOptions]="sortOptions"
      [defaultFilter]="activeFilter"
      (filterChanged)="filterByGenre($event)"
      (sortingChanged)="sort($event)"
    ></app-filters-mobile>
  </ng-template>

  <ng-container
    *ngIf="this.activeSorting.sortBy === 'discoveryDate'; else ratingDisplay"
  >
    <ng-container *ngFor="let yearEntry of sortedContent; trackBy: trackByYear">
      <h2 [class]="'y' + yearEntry.year">
        {{ yearEntry.year }}
      </h2>
      <ng-container
        *ngFor="let monthEntry of yearEntry.months; trackBy: trackByMonth"
      >
        <h3
          [ngClass]="{
            active: monthEntry.month === activeElement?.textContent
          }"
          [class]="'y' + yearEntry.year + 'm' + monthEntry.month"
        >
          {{ monthEntry.month }}
        </h3>
        <section
          class="cards-list flex flex-wrap gap-[18px] sm:gap-[30px] mb-6"
        >
          <ng-container
            *ngFor="let item of monthEntry.data; trackBy: trackByFn"
          >
            <app-work-card
              [isMobile]="isMobile"
              [item]="item"
              [type]="item.type"
              [user]="user"
              [hasMultipleTypes]="isHistory"
            ></app-work-card>
          </ng-container>
        </section>
      </ng-container>
      <div
        class="my-3 w-full h-[1px] bg-borders-light dark:bg-borders-darker"
      ></div>
    </ng-container>
  </ng-container>

  <ng-template #ratingDisplay>
    <section
      *ngIf="content.length > 0"
      class="flex flex-wrap gap-[18px] sm:gap-[30px] mb-6 mt-[153px]"
    >
      <ng-container *ngFor="let item of content; trackBy: trackByFn">
        <app-work-card
          [isMobile]="isMobile"
          [item]="item"
          [type]="item.type"
          [user]="user"
          [hasMultipleTypes]="isHistory"
        ></app-work-card>
      </ng-container>
    </section>
  </ng-template>

  <div
    *ngIf="this.activeSorting.sortBy === 'discoveryDate'"
    #timelineElement
    class="timeline font-bold text-right"
  >
    <ng-container *ngFor="let yearEntry of sortedContent">
      <div class="text-sm year y{{ yearEntry.year }}">
        <div (click)="scrollTo(yearEntry.year)">{{ yearEntry.year }}</div>
        <ng-container
          *ngFor="let monthEntry of yearEntry.months; let i = index"
        >
          <div
            class="month text-xs text-gray y{{ yearEntry.year }}m{{
              monthEntry.month
            }}"
            [ngClass]="{
              active:
                i === 0 &&
                activeElement?.classList!.contains('y' + yearEntry.year)
                  ? true
                  : activeElement?.classList!.contains(
                      'y' + yearEntry.year + 'm' + monthEntry.month
                    )
            }"
            (click)="scrollTo(yearEntry.year, monthEntry.month)"
          >
            {{ monthEntry.month | initial }} {{ yearEntry.year }}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<div
  class="inProgress opacity-0 -z-10 w-full h-full absolute top-0 bg-[rgba(255,255,255,0.75)] dark:bg-blackest/25 transition duration-150"
  [ngClass]="{loaderVisible: sortingLoading}"
>
  <img
    src="./assets/images/loading.svg"
    alt="Loading"
    class="block w-[204px] h-[204px] absolute top-[275px] left-1/2 -translate-x-2/4"
  />
</div>

<app-modal
  modalId="addList"
  [classes]="isMobile ? '!h-[400px] !max-w-[90%]' : '!max-w-[600px] !h-[400px]'"
  #createListModal
>
  <app-create-list [user]="user!"></app-create-list>
</app-modal>
