.profile {
  @apply relative cursor-pointer;

  .img {
    background: linear-gradient(
      135deg,
      var(--color-yellow-light),
      var(--color-yellow-dark)
    );

    @apply rounded-full p-[2px];
  }

  &.submenu-open .profile__submenu {
    @apply visible opacity-100 top-9;
  }

  &__submenu {
    &::before {
      @apply content-[""] absolute top-[-15px] right-[30px] border-solid border-t-0 border-r-[15px] border-b-[15px] border-l-[15px] border-[transparent_transparent_#323232_transparent] dark:border-[transparent_transparent_#1B191F_transparent];
    }

    @apply invisible opacity-0 transition-all duration-300 absolute top-0 right-[-20px] w-[270px] bg-black dark:bg-black-dark font-bold text-white rounded-lg py-1;

    li {
      @apply py-1 px-2 border-t border-[#555555] dark:border-borders-darker;

      &:first-child {
        @apply border-0;
      }

      a {
        @apply block w-full;
      }
    }
  }
}
