<div class="profile" [ngClass]="{'submenu-open': isSubmenuOpen}">
  <div class="img" (click)="toggleSubmenu()">
    <img
      *ngIf="user && user.picture; else default"
      [src]="imagesDomain + user.picture"
      alt="Profile picture"
      crossorigin="anonymous"
      class="max-w-[36px]"
    />
    <ng-template #default>
      <img
        src="./assets/images/icons/profile.svg"
        alt="Profile picture"
        class="max-w-[36px]"
      />
    </ng-template>
  </div>
  <div class="profile__submenu">
    <ul>
      <li>
        <a routerLink="/account/profile">My profile</a>
      </li>
      <li>
        <a routerLink="/history">History</a>
      </li>
      <!-- <li>
          <a routerLink="/account/friends">My friends</a>
        </li> -->
      <li>
        <a routerLink="/account/stats">Statistics</a>
      </li>
      <li>
        <a (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</div>
