<div class="flex items-center justify-between">
  <div class="text">
    <p class="font-bold">My rating</p>
    <a
      *ngIf="!item.userRating; else editRating"
      (click)="focusRatingForm()"
      class="cursor-pointer text-sm"
      >Rate this work</a
    >
    <ng-template #editRating>
      <a (click)="focusRatingForm()" class="cursor-pointer text-sm"
        >Change my rating</a
      >
    </ng-template>
  </div>

  <form [formGroup]="ratingForm" (input)="onInputChange($event)">
    <input
      #rating
      min="0"
      max="100"
      step="1"
      type="number"
      formControlName="rating"
      placeholder="100"
      [ngClass]="{
        unrated: !item.userRating,
        'rating-red': currentRating && currentRating < 50,
        'rating-orange':
          currentRating && currentRating >= 50 && currentRating <= 75,
        'rating-green': currentRating && currentRating > 75
      }"
    />
  </form>
</div>
<div
  *ngIf="error"
  [@fadeOut]="error"
  class="text-form-error dark:text-form-errorLight font-bold text-left mt-1 leading-[28px]"
>
  {{ error }}
</div>
