input[type="number"] {
  @apply w-[64px] h-[64px] rounded-full text-center border-0 mt-2 mr-3 text-lg text-white font-bold py-[6px] drop-shadow-base;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);

  &.rating-red {
    background: linear-gradient(
      135deg,
      var(--color-form-error),
      var(--color-form-errorDark)
    ) !important;
  }

  &.rating-orange {
    background: linear-gradient(
      135deg,
      var(--color-yellow-light),
      var(--color-yellow-dark)
    ) !important;
  }

  &.rating-green {
    background: linear-gradient(
      135deg,
      var(--color-form-successLight),
      var(--color-form-success)
    ) !important;
  }

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus,
  &:focus-visible,
  &:active {
    @apply text-white outline-none #{!important};

    &.rating-red {
      background: linear-gradient(
        135deg,
        var(--color-form-error),
        var(--color-form-errorDark)
      ) !important;
    }

    &.rating-orange {
      background: linear-gradient(
        135deg,
        var(--color-yellow-light),
        var(--color-yellow-dark)
      ) !important;
    }

    &.rating-green {
      background: linear-gradient(
        135deg,
        var(--color-form-successLight),
        var(--color-form-success)
      ) !important;
    }

    &.unrated {
      @apply bg-whitegrey;
      text-shadow: none;
    }
  }

  &.unrated {
    @apply drop-shadow-none text-black bg-transparent;
    text-shadow: none;
  }
}
