<section
  class="{{ type }} cards-list flex flex-wrap gap-[30px] mb-7"
  [ngClass]="{'gap-[18px]': isMobile}"
>
  <ng-container *ngFor="let item of content; trackBy: trackByFn">
    <app-work-card
      [isMobile]="isMobile"
      [item]="item"
      [type]="item.type"
      [user]="user"
      [hasMultipleTypes]="isList"
      [list]="list"
    ></app-work-card>
  </ng-container>

  <ng-container *ngIf="add">
    <div
      class="add w-[160px] h-[251px] relative bg-whitegrey dark:bg-black cursor-pointer"
      (click)="openModal('addWork', this.type)"
    >
      <div
        class="absolute w-full h-[76px] inset-y-2/4 -translate-y-2/4 left-1/2 -translate-x-2/4"
      >
        <img
          class="block m-auto mb-2"
          [src]="
            user.theme === 'light'
              ? './assets/images/icons/add.svg'
              : './assets/images/icons/add-white.svg'
          "
          alt="Add a work"
        />
        <div class="title font-bold text-center">{{ addLabel }}</div>
      </div>
    </div>
  </ng-container>
</section>
