.add {
  img {
    @apply transition duration-300;
  }

  &:hover {
    img {
      @apply rotate-180;
    }
  }
}

.games,
.comics {
  .add {
    @apply h-[214px];
  }
}
.movies,
.series {
  .add {
    @apply h-[240px];
  }
}
