@use "styles/button.scss";
@import url("@fontsource/montserrat/300.css");
@import url("@fontsource/montserrat/400.css");
@import url("@fontsource/montserrat/700.css");
@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");

:root {
  --nav-width: 260px;
}

html {
  font-size: 14px;
}

body {
  @apply bg-white dark:bg-blacker overflow-x-hidden text-black dark:text-white font-base;
}

.arts-bg {
  @apply bg-body-pattern bg-[position:-200px_-100px];
}

p {
  @apply mt-2 sm:mt-3 text-base leading-6;
}

h1,
h2,
h3,
h4 {
  @apply font-bold mb-3 sm:mb-4;
}

h1 {
  @apply text-lg sm:text-xl;
}

h2,
h3 {
  @apply text-lg;
}

main {
  @apply sm:block pl-3;

  &.isAside {
    @apply ml-[var(--nav-width)] pt-18;
  }
  &.isMobile {
    @apply pt-15 pb-8 px-3;

    &.unlogged {
      @apply pt-0;
    }
  }
}

::-webkit-scrollbar {
  @apply appearance-none w-1;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-borders-dark;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black dark:bg-white;
}

// Material
.mdc-label {
  @apply dark:text-white pl-2 #{!important};
}
