:host {
  @apply fixed z-40 w-full;
}

.menu-icon {
  @apply cursor-pointer flex flex-col justify-between w-[27px] h-[20px];

  .bar {
    @apply w-[27px] h-[4px] rounded-lg bg-black dark:bg-whiteshade transition-all;
  }

  &.menu-open {
    .bar:nth-child(1) {
      @apply translate-y-1 -rotate-45;
    }
    .bar:nth-child(2) {
      @apply opacity-0;
    }
    .bar:nth-child(3) {
      @apply -translate-y-1 rotate-45;
    }
  }
}
