<header
  class="h-12 bg-whiteshade dark:bg-blacker border-borders-light dark:border-borders-darker border-b flex justify-between items-center px-4"
>
  <div
    class="menu-icon"
    (click)="toggleBurger()"
    [ngClass]="{'menu-open': isMenuOpen}"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <a routerLink="/">
    <img
      [src]="
        user?.theme === 'light'
          ? './assets/images/icons/bookself-logo-notag.svg'
          : './assets/images/icons/bookself-logo-notag-white.svg'
      "
      alt="Bookself"
      class="block m-auto"
    />
  </a>

  <div
    class="absolute -z-[1] w-[75%] top-0 -left-[75%] transition-all"
    [ngClass]="{'!left-0': isMenuOpen}"
  >
    <app-navbar [user]="user"></app-navbar>
  </div>

  <app-profile-menu [user]="user"></app-profile-menu>
</header>
