<h3>My informations</h3>
<form
  [formGroup]="userInformationsForm"
  (ngSubmit)="onSubmit()"
  class="max-w-full sm:max-w-[460px]"
>
  <input
    type="text"
    name="firstname"
    formControlName="firstname"
    placeholder="Firstname"
  />
  <ng-container *ngIf="userInformationsForm.get('firstname')?.touched">
    <div
      class="error"
      *ngIf="userInformationsForm.get('firstname')?.hasError('required')"
    >
      Firstname is required.
    </div>
  </ng-container>

  <input
    type="text"
    name="lastname"
    formControlName="lastname"
    placeholder="Lastname"
  />
  <ng-container *ngIf="userInformationsForm.get('lastname')?.touched">
    <div
      class="error"
      *ngIf="userInformationsForm.get('lastname')?.hasError('required')"
    >
      Lastname is required.
    </div>
  </ng-container>

  <input
    type="email"
    name="email"
    formControlName="email"
    placeholder="Email"
    readonly
  />

  <label for="username">Username</label>
  <input
    id="username"
    type="text"
    name="username"
    formControlName="username"
    placeholder="Username"
  />
  <ng-container *ngIf="userInformationsForm.get('username')?.touched">
    <div
      class="error"
      *ngIf="userInformationsForm.get('username')?.hasError('required')"
    >
      Username is required.
    </div>
  </ng-container>

  <div class="error" *ngIf="error">
    {{ error.error.error }}
  </div>
  <button type="submit">Save</button>
  <div
    class="success text-form-success font-bold mt-2 text-center transition duration-300"
    *ngIf="success"
    [@fadeOut]="success"
  >
    {{ success }}
  </div>
</form>
