<ng-container *ngIf="isLoading; else contentOrEmpty">
  <app-skeleton-dashboard [user]="user"></app-skeleton-dashboard>
</ng-container>

<ng-template #contentOrEmpty>
  <ng-container *ngIf="worksDatas && !isWorksDatasEmpty(); else empty">
    <h1>
      Hello <span class="name">{{ user.firstname }} </span> ! 👋
    </h1>

    <ng-container *ngIf="!isMobile || isLaptop; else mobileStats">
      <div>
        You recently found out a gem ?

        <a
          (click)="openModal('addWork')"
          class="add btn btn-white btn-add mt-2 !max-w-[448px]"
        >
          <span>Add a work</span>
        </a>
      </div>
      <app-dashboard-stats
        [user]="user"
        [content]="worksDatas!"
      ></app-dashboard-stats>
    </ng-container>
    <ng-template #mobileStats>
      <app-dashboard-stats-mobile
        [user]="user"
        [content]="worksDatas!"
      ></app-dashboard-stats-mobile>
    </ng-template>

    <div class="sm:pr-6" *ngFor="let list of lists">
      <ng-container *ngIf="worksDatas[list.type]">
        <app-list-header
          [title]="list.title"
          [link]="list.link"
          [linkLabel]="list.linkLabel"
        ></app-list-header>
        <app-list-content
          [type]="list.type"
          [content]="worksDatas[list.type]!"
          [add]="isMobile && !isTablet ? false : true"
          [addLabel]="list.addLabel"
          [user]="user"
        ></app-list-content>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #empty>
    <app-dashboard-empty [user]="user"></app-dashboard-empty>
  </ng-template>
</ng-template>
