<section class="flex flex-wrap gap-[30px] mb-7">
  <ng-container *ngFor="let item of content">
    <app-collection-card [item]="item" [user]="user"></app-collection-card>
  </ng-container>
</section>
