<section>
  <h2>Your activity in {{ currentMonth }}</h2>
  <div *ngIf="worksActivities; else empty">
    <ng-container
      *ngFor="
        let workActivity of getSortedWorksActivities(worksActivities);
        let i = index
      "
    >
      <ng-container *ngIf="i < 3">
        <div class="activity text-black text-base mb-1">
          <img
            class="max-w-[32px]"
            src="./assets/images/icons/{{ workActivity.key }}.svg"
            alt="{{ workActivity.key }}"
          />
          <div class="w-[260px] sm:w-[240px]">
            <div
              class="progress-bar max-w-[260px] sm:max-w-[240px] bg-white rounded-lg h-[11px]"
              [style.width]="
                (workActivity.value /
                  getSortedWorksActivities(worksActivities)[0].value) *
                  100 +
                '%'
              "
            ></div>
          </div>
          <div>
            <span class="font-bold">{{ workActivity.value }}</span>
            <ng-container *ngIf="!isMobile">
              {{ getWorkLabel(workActivity.key) }}</ng-container
            >
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div class="text-black tracking-widest w-[32px] text-center">
      <a class="font-bold" routerLink="/account/stats">...</a>
    </div>
  </div>
  <ng-template #empty>
    You didn't add any work this month... That's kinda sad.
  </ng-template>
</section>
