:host {
  @apply block p-2 sm:p-4 w-[448px] max-w-full h-[250px] text-white rounded-lg;

  background: linear-gradient(
    135deg,
    var(--color-yellow-light),
    var(--color-yellow-dark)
  );
}

section {
  h2 {
    @apply drop-shadow-base mb-3;
  }

  .activity {
    @apply flex justify-start items-center gap-2;
  }
}
