<div
  class="covers h-[220px] rounded-lg overflow-hidden relative mb-1"
  [ngClass]="{
    none: covers.length === 0,
    one: covers.length < 4,
    four: covers.length === 4
  }"
>
  <ng-container
    *ngIf="covers.length >= 1 && covers.length <= 3; else fourCovers"
  >
    <div *ngFor="let cover of covers">
      <img
        crossorigin="anonymous"
        [src]="defineImagesPath(cover)"
        alt="Collection {{ item.name }} {{ cover }}"
      />
    </div>
  </ng-container>

  <ng-template #fourCovers>
    <div *ngFor="let cover of covers">
      <img
        crossorigin="anonymous"
        [src]="defineImagesPath(cover)"
        alt="Collection {{ item.name }} {{ cover }}"
      />
    </div>
  </ng-template>
</div>
<h3 class="text-m">{{ item.name }}</h3>
