:host {
  @apply block relative w-[220px] h-[260px] m-auto mb-4;
}

.covers {
  &.none {
    @apply relative bg-whitegrey;
    &:after {
      content: "";
      background: url("/assets/images/icons/lists.svg") no-repeat;
      @apply absolute w-[42px] h-[42px] inset-y-2/4 -translate-y-2/4 left-1/2 -translate-x-2/4 bg-[length:42px_42px];
    }
  }
  &.one {
    img {
      @apply absolute top-0 left-0;
    }
  }
  &.four {
    @apply flex flex-wrap;

    div {
      @apply w-[110px] h-[110px] overflow-hidden;

      img {
        @apply max-w-[110px];
      }
    }
  }
}
