<header>
  <a href="/">
    <img
      src="./assets/images/icons/bookself-logo.svg"
      alt="Bookself"
      class="block m-auto mt-4"
    />
  </a>
  <h2>Record all that you’ve seen, played, heard, or read, in one place.</h2>
</header>
