.bg {
  @apply fixed w-full h-[calc(100vh-144px)] top-[520px] left-[90px] bg-body-pattern bg-[length:1900px] bg-no-repeat;
}

h1 {
  @apply flex justify-start items-center;

  span.edit {
    @apply block w-[40px] h-[40px] ml-2 rounded-full cursor-pointer;
    background: url("/assets/images/icons/edit.svg") no-repeat 7px 7px
      rgb(250 250 250 / 1);
    @apply bg-[length:26px_26px];
  }
}

h2 {
  @apply font-normal max-w-[700px];
}

.name {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-light to-yellow-dark;
}
