<header
  class="flex justify-between items-center max-w-[920px] mb-4"
  [ngClass]="{'!mb-2': list.description}"
>
  <h1 class="!mb-0">
    {{ list.name }}
    <span (click)="updateList('editList' + list._id)" class="edit"></span>
  </h1>
  <div class="link mb-0">
    <a class="arrow-back" routerLink="/collections">Back to my collections</a>
  </div>
</header>

<p class="mb-6 italic" *ngIf="list.description">{{ list.description }}</p>

<h2>
  It's kind of empty in here... start by clicking on the link below to add
  something to this collection !
</h2>

<a
  (click)="openModal('addWork')"
  class="!flex justify-center items-center btn btn-add mt-2 max-w-[440px]"
>
  <span>Add a work</span>
</a>

<div class="bg"></div>
