<div
  class="fixed z-[100] max-w-[80%] sm:max-w-[400px] bottom-4 right-4 p-2 rounded-lg bg-black font-bold text-white"
  [ngClass]="getClasses()"
>
  <ng-container *ngIf="offline; else online">
    <div class="flex justify-between items-center">
      <span
        class="block w-[24px] h-[24px] bg-white mr-1"
        style="
          -webkit-mask: url(&quot;/assets/images/icons/offline.svg&quot;);
          mask: url(&quot;/assets/images/icons/offline.svg&quot;);
          -webkit-mask-size: 24px 24px;
          mask-size: 24px 24px;
          background: linear-gradient(
            135deg,
            var(--color-yellow-light),
            var(--color-yellow-dark)
          );
        "
      ></span>
      {{ message }}
    </div>
  </ng-container>
  <ng-template #online>
    {{ message }}
  </ng-template>
</div>
