<h3 class="text-center text-m">Edit collection</h3>
<form [formGroup]="updateList" (ngSubmit)="onSubmit()" class="!mb-0">
  <input type="text" formControlName="name" placeholder="Name" />
  <ng-container *ngIf="updateList.get('name')?.touched">
    <div class="error" *ngIf="updateList.get('name')?.hasError('required')">
      Name is required.
    </div>
  </ng-container>

  <input
    type="text"
    name="description"
    formControlName="description"
    placeholder="Description"
  />

  <div class="error" *ngIf="error">
    {{ error.error.error }}
  </div>
  <button type="submit">Update collection</button>
  <div
    class="success text-form-success font-bold mt-2 text-center transition duration-300"
    *ngIf="success"
    [@fadeOut]="success"
  >
    {{ success }}
  </div>
</form>
