<h1>Create an account</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="firstname" placeholder="Firstname" />
  <ng-container *ngIf="signupForm.get('firstname')?.touched">
    <div
      class="error"
      *ngIf="signupForm.get('firstname')?.hasError('required')"
    >
      Firstname is required.
    </div>
  </ng-container>

  <input
    type="text"
    name="lastname"
    formControlName="lastname"
    placeholder="Lastname"
  />
  <ng-container *ngIf="signupForm.get('lastname')?.touched">
    <div class="error" *ngIf="signupForm.get('lastname')?.hasError('required')">
      Lastname is required.
    </div>
  </ng-container>

  <input
    type="email"
    name="email"
    formControlName="email"
    placeholder="Email"
  />
  <ng-container *ngIf="signupForm.get('email')?.touched">
    <div class="error" *ngIf="signupForm.get('email')?.hasError('required')">
      Email is required.
    </div>
    <div class="error" *ngIf="signupForm.get('email')?.hasError('email')">
      Please enter a valid email address.
    </div>
  </ng-container>

  <div class="password relative">
    <input
      [type]="showPassword ? 'text' : 'password'"
      type="password"
      name="password"
      formControlName="password"
      placeholder="Password"
    />
    <span
      class="showPassword block absolute w-[24px] h-[24px] top-[12px] right-[12px]"
      [ngClass]="{active: showPassword}"
      (click)="showPassword = !showPassword"
    ></span>
  </div>
  <ng-container *ngIf="signupForm.get('password')?.touched">
    <div class="error" *ngIf="signupForm.get('password')?.hasError('required')">
      Password is required.
    </div>
  </ng-container>

  <div class="password relative">
    <input
      [type]="showConfirmPassword ? 'text' : 'password'"
      name="confirm_password"
      formControlName="confirm_password"
      placeholder="Confirm Password"
    />
    <span
      class="showPassword block absolute w-[24px] h-[24px] top-[12px] right-[12px]"
      [ngClass]="{active: showConfirmPassword}"
      (click)="showConfirmPassword = !showConfirmPassword"
    ></span>
  </div>
  <ng-container *ngIf="signupForm.get('confirm_password')?.touched">
    <div
      class="error"
      *ngIf="signupForm.get('confirm_password')?.hasError('required')"
    >
      Password confirmation is required.
    </div>
  </ng-container>

  <div class="error" *ngIf="error">
    {{ error.error.error }}
  </div>
  <button type="submit">{{ submitButtonText }}</button>
</form>
