<div class="volume relative max-w-[112px] mt-2 mb-1">
  <div class="relative img min-h-[152px]">
    <div
      class="overlay w-full absolute h-[52px] bottom-0 bg-gradient-to-t from-black-dark via-black-dark/50 to-transparent text-center"
    >
      <ng-container *ngIf="item.discoveryDate">
        <div
          (click)="updateVolumes(item, user, [volume.volumeNumber], 'post')"
          *ngIf="!isVolumeOwned({volume: volume.volumeNumber}); else remove"
          class="btn btn-small !py-[6px] relative inset-y-2/4 -translate-y-2/4 opacity-80 hover:opacity-100"
        >
          Add
        </div>
        <ng-template #remove>
          <div
            (click)="updateVolumes(item, user, [volume.volumeNumber], 'delete')"
            *ngIf="isVolumeOwned({volume: volume.volumeNumber}); else remove"
            class="remove btn btn-small !py-[6px] btn-transparent relative inset-y-2/4 -translate-y-2/4 opacity-80 hover:opacity-100"
          >
            Remove
          </div>
        </ng-template>
      </ng-container>
    </div>

    <ng-container *ngIf="shouldShowCover(volume.cover); else defaultCover">
      <img
        crossorigin="anonymous"
        src="{{ imagesDomain }}/{{ item.type }}{{ volume.cover }}"
        alt="Volume {{ volume.volumeNumber }}"
        class="block m-0 max-w-[112px]"
      /> </ng-container
    ><ng-template #defaultCover>
      <div class="img relative bg-whitegrey mr-2 w-[112px] h-[142px]">
        <div
          class="absolute w-[32px] h-[32px] inset-y-2/4 -translate-y-2/4 left-1/2 -translate-x-2/4"
        >
          <img
            class="max-w-[32px]"
            src="./assets/images/icons/{{ item.type }}.svg"
            alt="{{ item.type }} icon"
          />
        </div>
      </div>
    </ng-template>
  </div>

  <ng-container *ngIf="isVolumeOwned({volume: volume.volumeNumber})">
    <div class="progress absolute -top-[7px] -right-[7px] max-w-[18px]">
      <img src="./assets/images/icons/completed.svg" alt="volume owned" />
    </div>
  </ng-container>
  <div class="metas pt-[4px]">
    <div class="name">
      <span class="font-bold">{{ volume.volumeNumber }} </span>
      <ng-container *ngIf="volume.volumeName">
        : {{ volume.volumeName }}</ng-container
      >
    </div>
  </div>
</div>
