:host {
  @apply fixed z-40 ml-[var(--nav-width)] w-[calc(100%-(var(--nav-width)))];
}

.add {
  img {
    @apply transition-all duration-500;
  }

  &:hover {
    img {
      @apply rotate-180;
    }
  }
}
