<header
  class="h-12 bg-whiteshade dark:bg-blacker border-borders-light dark:border-borders-darker border-b flex justify-between items-center pr-6"
>
  <div class="search">
    <app-search-form *ngIf="user" [user]="user"></app-search-form>
  </div>
  <div class="flex justify-between items-center">
    <div
      (click)="openModal('addWork')"
      class="mr-8 flex font-bold align-middle items-center cursor-pointer add"
    >
      <img
        class="max-w-[38px] mr-2"
        [src]="
          user?.theme === 'light'
            ? './assets/images/icons/add.svg'
            : './assets/images/icons/add-white.svg'
        "
        alt="Add a work"
      />
      Add a work
    </div>
    <app-profile-menu [user]="user"></app-profile-menu>
  </div>
</header>
