<a
  class="card block relative w-[220px] mb-1 cursor-pointer"
  (click)="goToCollectionDetails()"
>
  <app-collection-card-data [item]="item"></app-collection-card-data>
  <div
    class="remove transition duration-300 invisible opacity-0 absolute top-1 left-1"
    (click)="openDeleteConfirmation($event, item._id)"
  >
    <span></span>
  </div>
</a>

<app-modal [modalId]="'dlt_' + item._id" classes="max-w-[560px]">
  <h2 class="text-center">
    Do you really wish to delete this collection and all its works ?
  </h2>
  <app-collection-card-data [item]="item"></app-collection-card-data>
  <div class="max-w-[300px] m-auto flex justify-around items-center">
    <button (click)="remove(item)" class="btn">Yes</button>
    <div class="btn btn-transparent" (click)="closeModal('dlt_' + item._id)">
      Hell no
    </div>
  </div>
</app-modal>
