.card:hover {
  .remove {
    @apply visible opacity-100;
  }
}

.remove {
  @apply bg-[rgba(0,0,0,0.5)] rounded-full w-[26px] h-[26px] p-[2px];

  span {
    @apply block w-[22px] h-[22px] bg-white;
    -webkit-mask: url("/assets/images/icons/remove.svg") no-repeat center;
    mask: url("/assets/images/icons/remove.svg");
  }
}
