@use "src/styles/form.scss";

h1,
h2 {
  @apply drop-shadow-base;
}

h2 {
  @apply text-xl;
}

form {
  .showPassword {
    background: url("/assets/images/icons/eye.svg");
    @apply cursor-pointer bg-[length:24px_24px] #{!important};

    &.active {
      background: url("/assets/images/icons/eye-slash.svg");
    }
  }
}
