<div *ngIf="loading; else loaded" class="font-bold text-m">Loading...</div>

<ng-template #loaded>
  <ng-container *ngIf="!loading && isTokenValid; else invalid">
    <ng-container *ngIf="passwordChanged; else resetForm">
      <h1>Your password has been updated</h1>
      <button routerLink="/login">Login</button>
    </ng-container>

    <ng-template #resetForm>
      <h1>Reset my password</h1>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="password relative">
          <input
            [type]="showNewPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Password"
          />
          <span
            class="showPassword block absolute w-[24px] h-[24px] top-[12px] right-[12px]"
            [ngClass]="{active: showNewPassword}"
            (click)="showNewPassword = !showNewPassword"
          ></span>
        </div>
        <ng-container *ngIf="resetPasswordForm.get('password')?.touched">
          <div
            class="error"
            *ngIf="resetPasswordForm.get('password')?.hasError('required')"
          >
            Password is required.
          </div>
        </ng-container>
        <div class="password relative">
          <input
            [type]="showNewConfirmPassword ? 'text' : 'password'"
            formControlName="confirm_password"
            placeholder="Confirm password"
          />
          <span
            class="showPassword block absolute w-[24px] h-[24px] top-[12px] right-[12px]"
            [ngClass]="{active: showNewConfirmPassword}"
            (click)="showNewConfirmPassword = !showNewConfirmPassword"
          ></span>
        </div>
        <ng-container
          *ngIf="resetPasswordForm.get('confirm_password')?.touched"
        >
          <div
            class="error"
            *ngIf="
              resetPasswordForm.get('confirm_password')?.hasError('required')
            "
          >
            Password confirmation is required.
          </div>
        </ng-container>
        <div class="error" *ngIf="error">
          {{ error.error.error }}
        </div>
        <button type="submit">Send a reset link</button>
      </form>
    </ng-template>
  </ng-container>

  <ng-template #invalid>
    <h1>Your reset link has expired or does not exist.</h1>
  </ng-template>
</ng-template>
