<ng-container *ngIf="logged">
  <ng-container *ngIf="isMobile; else desktop">
    <app-header-mobile [user]="user"></app-header-mobile>
  </ng-container>
  <ng-template #desktop>
    <app-navbar [user]="user"></app-navbar>
    <app-header [user]="user"></app-header>
  </ng-template>
  <ng-container *ngIf="isMobile">
    <app-add-work-button-mobile></app-add-work-button-mobile>
  </ng-container>
</ng-container>

<main [ngClass]="{isAside: logged && !isMobile, isMobile, unlogged: !logged}">
  <router-outlet></router-outlet>

  <ng-container *ngIf="logged">
    <ng-container *ngIf="isMobile">
      <app-modal [modalId]="'search'" classes="overflow-y-scroll"
        ><app-search-form [isMobile]="true" [user]="user!"></app-search-form
      ></app-modal>
    </ng-container>
    <app-modal modalId="addWork" #addWorkModal>
      <app-add-work></app-add-work>
    </app-modal>

    <app-modal
      modalId="addList"
      [classes]="
        isMobile ? '!h-[400px] !max-w-[90%]' : '!max-w-[600px] !h-[400px]'
      "
      #createListModal
    >
      <app-create-list [user]="user!"></app-create-list>
    </app-modal>

    <app-news-modal></app-news-modal
  ></ng-container>

  <ng-container *ngIf="!online">
    <app-toast
      message="You are currently offline"
      [offline]="true"
      [@fadeInOut]
    ></app-toast>
  </ng-container>
</main>

<ng-container *ngIf="isProd">
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-583DXFLB"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- GA -->
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-XK6SGBWH7F");
  </script>
</ng-container>
