<div class="modal" *ngIf="modalService.modals[modalId]">
  <div [ngClass]="modalClasses">
    <span (click)="closeModal()" class="close">
      <span
        class="block w-[24px] h-[24px] bg-black dark:bg-white mr-2"
        style="
          -webkit-mask: url(&quot;/assets/images/icons/close.svg&quot;);
          mask: url(&quot;/assets/images/icons/close.svg&quot;);
          -webkit-mask-size: 24px 24px;
          mask-size: 24px 24px;
        "
      ></span>
    </span>
    <ng-content></ng-content>
  </div>
  <div (click)="clickOverlay($event)" class="modal__overlay"></div>
</div>
