.modal {
  @apply fixed flex justify-center items-center h-full top-0 left-0 right-0 bottom-0 z-50;

  &__content {
    @apply absolute w-[100%] lg:w-[860px] h-screen lg:h-fit max-h-none lg:max-h-[800px] rounded-lg z-50 p-2 pt-5 pb-5 lg:p-5 lg:pb-[22px] bg-white dark:bg-black-dark drop-shadow-frame transition-all duration-500;

    .close {
      @apply absolute top-[12px] right-[12px] max-w-[40px] text-lg font-bold cursor-pointer p-1 rounded-full hover:bg-whiteshade dark:hover:bg-borders-darker;
    }
  }

  &__overlay {
    @apply absolute w-full h-full z-40 bg-blackest/25;
  }
}
