<h3>My preferences</h3>

<mat-slide-toggle
  class="mb-8"
  [(ngModel)]="isDarkTheme"
  (change)="toggleTheme()"
>
  Dark Theme
</mat-slide-toggle>

<ng-container *ngIf="success">
  <app-toast [message]="success" [@fadeInOut]></app-toast>
</ng-container>
<ng-container *ngIf="error">
  <app-toast [message]="error.error.error" [@fadeInOut]></app-toast>
</ng-container>
