<span
  (click)="openDeleteConfirmation($event, item._id)"
  class="block w-[18px] h-[18px] bg-black dark:bg-white cursor-pointer"
  style="
    -webkit-mask: url(&quot;/assets/images/icons/remove.svg&quot;);
    mask: url(&quot;/assets/images/icons/remove.svg&quot;);
    -webkit-mask-size: 18px 18px;
    mask-size: 18px 18px;
  "
></span>

<app-modal [modalId]="'dlt_' + item._id" classes="max-w-[560px]">
  <ng-container *ngIf="!list; else fromList">
    <h2 class="text-center">Do you really wish to delete this work ?</h2>
    <img
      crossorigin="anonymous"
      src="{{ imagesPath }}{{ item.cover }}"
      alt="{{ item.title }}"
      class="block max-w-[200px] m-auto mb-5"
    />
    <div class="max-w-[340px] m-auto flex justify-around items-center">
      <button (click)="remove(item, $event)" class="btn">Yes please</button>
      <div class="btn btn-transparent" (click)="closeModal('dlt_' + item._id)">
        Hell no
      </div>
    </div>
  </ng-container>
  <ng-template #fromList>
    <h2 class="text-center">
      Do you really wish to delete this work from its collection ?
    </h2>
    <img
      crossorigin="anonymous"
      src="{{ imagesPath }}{{ item.cover }}"
      alt="{{ item.title }}"
      class="block max-w-[200px] m-auto mb-5"
    />
    <div class="max-w-[340px] m-auto flex justify-around items-center">
      <button (click)="remove(item, $event, list)" class="btn">
        Yes please
      </button>
      <div class="btn btn-transparent" (click)="closeModal('dlt_' + item._id)">
        Hell no
      </div>
    </div>
  </ng-template>
</app-modal>
