<ng-container *ngIf="isLoading; else contentOrEmpty">
  <app-skeleton-history [user]="user"></app-skeleton-history>
</ng-container>

<ng-template #contentOrEmpty>
  <div *ngIf="works && works.length > 0; else empty">
    <h1>Your search for "{{ term }}"</h1>

    <div class="max-w-[1080px]">
      <app-list-content-by-date
        [content]="works"
        [user]="user"
        [isHistory]="true"
        (sortingChanged)="onSortingChanged($event)"
      ></app-list-content-by-date>
    </div>
  </div>

  <ng-template #empty>
    <p class="font-bold !mt-2 !mb-3">Nothing found.</p>
  </ng-template>
</ng-template>
