<app-header></app-header>

<section class="login">
  <div *ngIf="loading; else loaded" class="font-bold text-m">Loading...</div>

  <ng-template #loaded>
    <ng-container *ngIf="!loading && isTokenValid; else invalid">
      <h1>Your account has been activated.</h1>
      <button routerLink="/login" class="btn full">Log in</button>
    </ng-container>

    <ng-template #invalid>
      <h1>Your activation link has expired or does not exist.</h1>
      <app-account-activation-form></app-account-activation-form>
    </ng-template>
  </ng-template>
</section>
