<div class="md:flex justify-start items-start" #comicDetailsElement>
  <div class="image md:top-0 md:sticky z-40">
    <div
      *ngIf="isMobile && !isTablet"
      class="text-center text-xl leading-11 font-bold mb-2"
    >
      {{ item.title }}
      <span class="year font-normal">({{ item.releaseDate }})</span>
    </div>
    <app-work-details-image [item]="item"></app-work-details-image>
    <div
      *ngIf="item.rating"
      class="ml-[calc((100%-251px)/2)] md:ml-0 text-sm italic grey mt-[4px]"
    >
      Rating source : {{ comicsProviders[item.provider] }}
    </div>
    <ng-container *ngIf="item.discoveryDate; else addToUser">
      <app-work-date [item]="item" [list]="list" [user]="user"></app-work-date>
      <app-edit-work-rating [item]="item"></app-edit-work-rating>
      <app-details-add-to-list
        [user]="user"
        [item]="item"
      ></app-details-add-to-list>
    </ng-container>
    <ng-template #addToUser>
      <a
        class="btn btn-add !pl-2 !pr-[4px] !text-[18px] !max-w-[251px] mt-3"
        (click)="addFromList(item, user, $event)"
        ><span>Add to my comics</span></a
      >
      <div class="error" *ngIf="addError" [@fadeOut]="addError">
        {{ addError.error.error }}
      </div>
    </ng-template>
    <app-work-lists [item]="item"></app-work-lists>
  </div>
  <div class="infos">
    <div
      *ngIf="!isMobile || isTablet"
      class="text-xl leading-11 font-bold mb-2"
    >
      {{ item.title }}
      <span class="year font-normal">({{ item.releaseDate }})</span>
    </div>
    <div class="metas text-sm text-grey dark:text-borders-dark mb-3">
      <span class="date text-sm">{{ item.releaseDate }}</span>
      -
      <span class="genres text-sm" *ngIf="item.publisher">
        {{ item.publisher }}
      </span>
    </div>
    <div
      *ngIf="item.summary"
      [innerHTML]="getTrimmedSummary(item.summary)"
      class="synopsis mb-3"
    ></div>
    <div
      class="directors text-base mb-3"
      *ngIf="item.authors && item.authors.length > 0"
    >
      <span class="font-bold">Created by :</span>
      <ng-container *ngFor="let author of item.authors; let i = index">
        {{ author.name
        }}<ng-container *ngIf="i + 1 < item.authors.length">,</ng-container>
      </ng-container>
    </div>
    <ng-container *ngIf="item.volumes && item.volumes.length > 0">
      <span class="font-bold">Last publication : </span>
      <div
        class="flex flex-wrap justify-start items-start volumes text-base mb-3"
      >
        <app-comic-issue
          [item]="item"
          [user]="user"
          [type]="type"
          [volume]="sortVolumesByNumber(item.volumes, 'desc')[0]"
        ></app-comic-issue>
      </div>
      <div class="flex justify-between items-center mb-1">
        <span class="font-bold">All volumes : </span>
        <ng-container *ngIf="item.discoveryDate">
          <div
            (click)="updateAllVolumes(item, user, 'post')"
            *ngIf="!allVolumesOwned(); else remove"
            class="btn btn-small"
          >
            Add all volumes
          </div>
          <ng-template #remove>
            <div
              (click)="updateAllVolumes(item, user, 'delete')"
              *ngIf="allVolumesOwned(); else remove"
              class="btn btn-small btn-transparent"
            >
              Remove all volumes
            </div>
          </ng-template>
        </ng-container>
      </div>
      <div
        class="flex flex-wrap justify-start items-start volumes text-base mb-3 gap-2"
      >
        <ng-container
          *ngFor="
            let volume of sortVolumesByNumber(item.volumes);
            let i = index
          "
        >
          <app-comic-issue
            [item]="item"
            [user]="user"
            [type]="type"
            [volume]="volume"
          ></app-comic-issue>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
