:host ::ng-deep {
  .synopsis {
    h2 {
      @apply mt-2 text-m;
    }

    a {
      @apply underline decoration-dotted;

      &:after {
        content: "";
        @apply inline-block relative top-[2px] ml-[6px] w-[15px] h-[15px] bg-black dark:bg-white;

        -webkit-mask: url("/assets/images/icons/external.svg") center/contain
          no-repeat;
        mask: url("/assets/images/icons/external.svg") center/contain no-repeat;
        -webkit-mask-size: 15px 15px;
        mask-size: 15px 15px;
      }
    }
  }
}
