<div class="md:flex justify-start items-start">
  <div class="image md:top-0 md:sticky z-40">
    <div
      *ngIf="isMobile && !isTablet"
      class="text-center text-xl leading-11 font-bold mb-2"
    >
      {{ item.title }}
      <span class="year font-normal"
        >({{ item.releaseDate | date: "yyyy" }})</span
      >
    </div>
    <app-work-details-image [item]="item"></app-work-details-image>
    <div
      *ngIf="item.rating"
      class="ml-[calc((100%-251px)/2)] md:ml-0 text-sm italic grey mt-[4px]"
    >
      Rating source : {{ moviesProviders[item.provider] }}
    </div>
    <ng-container *ngIf="item.discoveryDate; else addToUser">
      <app-work-date [item]="item" [list]="list" [user]="user"></app-work-date>
      <app-edit-work-rating [item]="item"></app-edit-work-rating>
      <app-details-add-to-list
        [user]="user"
        [item]="item"
      ></app-details-add-to-list>
    </ng-container>
    <ng-template #addToUser>
      <app-work-delete
        [item]="item"
        [list]="list"
        [user]="user"
        class="flex justify-end max-w-[251px] mt-2"
      ></app-work-delete>
      <a
        class="btn btn-add !pl-2 !pr-[4px] !text-[18px] !max-w-[251px] mt-3"
        (click)="addFromList(item, user, $event)"
        ><span>Add to my movies</span></a
      >
      <div class="error" *ngIf="addError" [@fadeOut]="addError">
        {{ addError.error.error }}
      </div>
    </ng-template>
    <app-work-lists [item]="item"></app-work-lists>
  </div>
  <div class="infos">
    <div
      *ngIf="!isMobile || isTablet"
      class="text-xl leading-11 font-bold mb-2"
    >
      {{ item.title }}
      <span class="year font-normal"
        >({{ item.releaseDate | date: "yyyy" }})</span
      >
    </div>
    <div class="metas text-sm text-grey dark:text-borders-dark mb-3">
      <span class="date text-sm">{{
        item.releaseDate | date: "dd/MM/yyyy"
      }}</span>
      -
      <span class="genres text-sm" *ngIf="item.genres">
        <ng-container *ngFor="let genre of item.genres; let i = index">
          {{ genre
          }}<ng-container *ngIf="i + 1 < item.genres.length">,</ng-container>
        </ng-container>
      </span>
      -
      <span class="duration">
        {{ item.duration | duration }}
      </span>
    </div>
    <div class="synopsis mb-3">
      {{ item.synopsis }}
    </div>
    <div class="directors text-base mb-3" *ngIf="item.directors">
      <span class="font-bold">Director :</span>
      <ng-container *ngFor="let director of item.directors; let i = index">
        {{ director.name
        }}<ng-container *ngIf="i + 1 < item.directors.length">,</ng-container>
      </ng-container>
    </div>
    <div class="cast text-base" *ngIf="item.cast">
      <div class="flex gap-[3%] justify-between text-sm">
        <div class="w-[30%]" *ngFor="let actor of item.cast">
          <div
            class="relative w-[80px] h-[80px] rounded-full overflow-hidden mb-1"
            *ngIf="actor.profile; else default"
          >
            <img
              crossorigin="anonymous"
              src="{{ imagesDomain }}/actors{{ actor.profile }}"
              alt="{{ actor.name }}"
              class="absolute inset-y-2/4 -translate-y-2/4 left-1/2 -translate-x-2/4"
            />
          </div>
          <ng-template #default>
            <div
              class="relative bg-whitegrey w-[80px] h-[80px] rounded-full overflow-hidden mb-1"
            ></div>
          </ng-template>
          <div class="font-bold">{{ actor.name }}</div>
          <span class="italic">{{ actor.character }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
