<h1>
  Hello <span class="name">{{ user.firstname }}</span> ! 👋
</h1>

<h2>
  It's kind of empty in here... start by clicking on the link below to add
  something !
</h2>

<a
  (click)="openModal('addWork', this.type)"
  class="!flex justify-center items-center btn btn-add mt-2 max-w-[440px]"
>
  <span>Add a work</span>
</a>

<div class="bg"></div>
