.date {
  @apply pt-1 flex justify-between items-center text-sm;

  &.inAddWorkModal {
    @apply relative pr-0;

    a {
      @apply absolute w-full top-[4px] text-right right-0 sm:right-[20px];
    }
  }
}
