<div class="date mt-2 sm:mt-0 mb-1" [ngClass]="{inAddWorkModal: onlyForm}">
  <div class="flex justify-start items-center">
    <div class="flex justify-start items-center" *ngIf="!onlyForm">
      <span
        class="block w-[32px] h-[32px] bg-black dark:bg-white mr-2"
        style="
      -webkit-mask: url('/assets/images/icons/{{
          item.type.replace('/', '-')
        }}.svg');
      mask: url('/assets/images/icons/{{ item.type.replace('/', '-') }}.svg');
          -webkit-mask-size: 32px 32px;
          mask-size: 32px 32px;"
      ></span>
      <div class="text-base font-bold mt-[3px]">
        {{ item.discoveryDate | date: "dd/MM/yyyy" }}
      </div>
    </div>
    <a
      class="underline cursor-pointer ml-2"
      (click)="openModal('ewd_' + item._id)"
    >
      Change date
    </a>
  </div>
  <ng-container *ngIf="!onlyForm">
    <app-work-delete
      [item]="item"
      [list]="list"
      [user]="user"
      class="pr-0 md:pr-3"
    ></app-work-delete>
  </ng-container>
</div>

<app-modal
  [modalId]="'ewd_' + item._id"
  [classes]="
    isMobile
      ? '!h-[260px] !w-[90%] !max-w-[400px] !pt-7'
      : 'max-w-[400px] !pt-7'
  "
>
  <app-edit-work-date [item]="item"></app-edit-work-date>
</app-modal>
