<form [formGroup]="dateForm" (ngSubmit)="onSubmit()" class="pt-1">
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="selectedDate"
      placeholder="Pick a date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button type="submit">Edit date</button>
  <div
    [@fadeOut]
    class="success text-form-success font-bold mt-2 text-center"
    *ngIf="success"
  >
    {{ success }}
  </div>
  <div
    class="success text-form-error dark:text-form-errorLight font-bold mt-2 text-center"
    *ngIf="error"
  >
    {{ error }}
  </div>
</form>
