<a
  (click)="toggleAddToList($event)"
  class="addToListLink addToListLink{{
    item.providerId
  }} btn btn-white btn-add btn-add__list !max-w-[251px] relative flex items-center justify-between cursor-pointer !text-[18px] !leading-[24px] rounded-lg m-auto mt-3 sm:ml-0 sm:mr-2 transition duration-300 !py-[14px] !px-[10px]"
>
  <span>Add to collection</span>
</a>
<div
  [@fadeInOut]
  *ngIf="isAddToListVisible()"
  class="addToList absolute z-30 w-[300px] rounded-lg bottom-[40px] left-[315px] bg-white dark:bg-black-dark drop-shadow-base dark:drop-shadow-[0_0_15px_#111] p-2 pb-1"
>
  <app-add-to-list
    (addedToList)="addedToList($event)"
    (creatingList)="creatingList($event)"
    (addToListError)="addToListError($event)"
    (close)="closeAddToList($event)"
    [user]="user"
    [item]="item"
  ></app-add-to-list>
</div>

<ng-container *ngIf="addedToListSuccess">
  <app-toast
    [message]="addedToListSuccess"
    [classes]="'bg-form-success'"
    [@fadeInOut]
  ></app-toast>
</ng-container>
<ng-container *ngIf="addError">
  <app-toast
    [message]="addError.error.error"
    [classes]="'bg-form-error'"
    [@fadeInOut]
  ></app-toast>
</ng-container>
