<div class="infos flex justify-start items-start mb-10">
  <div
    class="img relative mr-3 cursor-pointer max-w-[168px] max-h-[168px] rounded-full overflow-hidden"
    (click)="uploadProfilePicture()"
  >
    <img
      crossorigin="anonymous"
      *ngIf="user.picture; else default"
      [src]="imagesDomain + user.picture"
      alt="Profile Image"
    />
    <ng-template #default>
      <img
        [src]="
          selectedImageUrl
            ? selectedImageUrl
            : './assets/images/icons/profile.svg'
        "
        alt="Upload Image"
      />
    </ng-template>
    <input type="file" #fileInput hidden (change)="onFileSelected($event)" />
    <div
      class="mask absolute w-full h-full rounded-full top-0 left-0 bg-black opacity-0 hover:opacity-80"
    >
      <span></span>
    </div>
  </div>
  <div class="name">
    <h1 class="name pt-1 mb-1">{{ user.firstname }} {{ user.lastname }}</h1>
    <span class="italic text-grey dark:text-borders-dark"
      >Member since {{ user.createdAt | date: "dd/MM/yyyy" }}</span
    >
  </div>
</div>

<app-edit-profile-preferences [user]="user"></app-edit-profile-preferences>

<app-edit-profile-form [user]="user"></app-edit-profile-form>

<app-edit-password-form [user]="user"></app-edit-password-form>

<a
  class="link block font-bold text-form-error dark:text-form-errorLight mb-8 cursor-pointer"
  (click)="openDeleteConfirmation($event, user._id)"
  >Delete my account</a
>

<app-modal [modalId]="'dlt_acc_' + user._id" classes="max-w-[560px]">
  <h2 class="text-center">Do you really wish to delete your account ?</h2>
  <div class="max-w-[300px] m-auto flex justify-around items-center">
    <button (click)="deleteAccount(user._id)" class="btn">Yes</button>
    <div
      class="btn btn-transparent"
      (click)="closeModal('dlt_acc_' + user._id)"
    >
      Hell no
    </div>
  </div>
</app-modal>
