.img {
  background: linear-gradient(
    135deg,
    var(--color-yellow-light),
    var(--color-yellow-dark)
  );

  @apply rounded-full p-[4px];

  .mask {
    @apply transition duration-300;

    span {
      @apply block w-[60px] h-[60px] bg-white absolute inset-y-2/4 -translate-y-2/4 left-1/2 -translate-x-2/4;
      -webkit-mask: url("/assets/images/icons/camera.svg") no-repeat center;
      mask: url("/assets/images/icons/camera.svg");
    }
  }
}
