.rating {
  &.rating-red {
    background: linear-gradient(
      135deg,
      var(--color-form-error),
      var(--color-form-errorDark)
    ) !important;
  }

  &.rating-orange {
    background: linear-gradient(
      135deg,
      var(--color-yellow-light),
      var(--color-yellow-dark)
    ) !important;
  }

  &.rating-green {
    background: linear-gradient(
      135deg,
      var(--color-form-successLight),
      var(--color-form-success)
    ) !important;
  }
}
