<div class="relative">
  <div
    *ngIf="item.rating"
    class="rating absolute w-[54px] h-[54px] text-center rounded-full -bottom-[19px] right-[29px] text-m font-bold text-white"
    [class.rating-red]="item.rating < 50"
    [class.rating-orange]="item.rating >= 50 && item.rating <= 75"
    [class.rating-green]="item.rating > 75"
  >
    <div
      class="absolute w-[48px] h-[48px] top-[3px] left-[3px] pt-[10px] bg-white rounded-full text-black"
    >
      {{ item.rating | number: "1.1-1" }}
    </div>
  </div>
  <img
    crossorigin="anonymous"
    src="{{ imagesDomain }}/{{ item.type }}{{ item.cover }}"
    alt="{{ item.title }}"
    class="m-auto md:mr-3 max-w-[251px]"
  />
</div>
