@use "src/styles/form.scss";

:host {
  @apply relative;
}

.close {
  @apply absolute max-w-[36px] -top-[7px] -right-[5px] text-lg font-bold cursor-pointer p-1 rounded-full hover:bg-whiteshade dark:hover:bg-borders-darker;
}

.form {
  @apply mt-0 mb-0;
  .search {
    @apply mb-1 h-[40px];
  }
}

a {
  &.loading {
    &:after {
      content: "";
      background: url("/assets/images/loading.svg") no-repeat top left;
      @apply block w-[18px] h-[18px] bg-[length:18px_18px] absolute top-[12px] right-1 transition-all duration-500;
    }
  }
  &.success {
    &:after {
      content: "";
      background: url("/assets/images/icons/completed.svg") no-repeat top left;
      @apply block w-[18px] h-[18px] bg-[length:18px_18px] absolute top-[12px] right-1 transition-all duration-500;
    }
  }
}
