<h3 class="text-center text-[18px] mb-3">Add to a collection</h3>
<span *ngIf="!inModal" (click)="closeAddToList($event)" class="close">
  <span
    class="block w-[20px] h-[20px] bg-black dark:bg-white mr-2"
    style="
      -webkit-mask: url(&quot;/assets/images/icons/close.svg&quot;);
      mask: url(&quot;/assets/images/icons/close.svg&quot;);
      -webkit-mask-size: 20px 20px;
      mask-size: 20px 20px;
    "
  ></span
></span>
<div class="form">
  <input
    [(ngModel)]="searchTerm"
    class="search"
    type="text"
    placeholder="Search"
  />
</div>
<div class="overflow-y-scroll max-h-[164px]">
  <ng-container
    *ngIf="filteredLists && filteredLists.length > 0; else noResult"
  >
    <div *ngFor="let list of filteredLists">
      <a
        class="relative block w-full py-[10px] pl-1 cursor-pointer rounded-lg hover:bg-whitegrey dark:hover:bg-blackest"
        (click)="addToList($event, item, user, list)"
        >{{ list.name }}</a
      >
    </div>
  </ng-container>
  <ng-template #noResult
    ><div class="mt-3 mb-4 italic">
      You haven't created any list
    </div></ng-template
  >
</div>
<div class="relative h-[1px] bg-whitegrey dark:bg-borders-darker w-full my-3">
  <span
    class="absolute inline-block bg-white dark:bg-black-dark px-2 text-center -top-[11px] left-1/2 -translate-x-2/4"
    >or</span
  >
</div>
<a
  class="btn btn-white btn-add btn-add__list text-center !text-[15px] m-auto mb-2 !px-[10px]"
  (click)="openModal('addList')"
>
  <span>Create a new collection</span>
</a>
