<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bookself</title>
  </head>

  <body
    style="
      background-color: #f1f1f1;
      border-collapse: collapse;
      border-spacing: 0;
      border: 0px;
      margin: 0 auto;
      padding: 0;
      top: 0px;
      font-family: Arial, sans-serif;
    "
  >
    <center>
      <table
        width="700px;"
        cellspacing="0"
        cellpadding="0"
        style="
          background-color: #f1f1f1;
          border-collapse: collapse;
          border-spacing: 0;
          margin: 0 auto;
          padding: 0px;
          width: 700px;
        "
      >
        <tr style="margin: 0 auto; height: 20px">
          <td style="margin: 0 auto"></td>
        </tr>
      </table>

      <table
        width="700px;"
        cellspacing="0"
        cellpadding="0"
        style="
          background-color: #ffffff;
          border-collapse: collapse;
          border-spacing: 0;
          margin: 0 auto;
          padding: 0px;
          width: 700px;
        "
      >
        <tr style="margin: 0 auto">
          <td style="margin: 0 auto; text-align: center">
            <center>
              <a href="{{ clientUrl }}" style="border: 0; outline: none">
                <img
                  src="{{ imagesUrl }}/email-head.jpg"
                  alt="Bookself"
                  border="0"
                  width="700px"
                  height="157px"
                  style="display: block; margin: 0 auto; text-align: center"
                />
              </a>
            </center>
          </td>
        </tr>

        <tr style="margin: 0 auto; height: 40px">
          <td style="margin: 0 auto"></td>
        </tr>

        <tr style="margin: 0 auto">
          <td style="margin: 0 auto">
            <center>
              <table
                cellpadding="0"
                cellspacing="0"
                style="
                  border-collapse: collapse;
                  border-spacing: 0;
                  margin: 0 auto;
                  padding: 0px;
                  background-color: #fff;
                "
              >
                <tr
                  style="margin: 0 auto; vertical-align: middle; height: 18px"
                >
                  <td
                    style="width: 50px; margin: 0 auto; text-align: right"
                  ></td>
                  <td
                    style="
                      width: 600px;
                      margin: 0 auto;
                      text-align: left;
                      vertical-align: middle;
                      font-size: 14px;
                      line-height: 22px;
                      color: #323232;
                    "
                  >
                    {{ content }}
                  </td>
                  <td
                    style="width: 50px; margin: 0 auto; text-align: right"
                  ></td>
                </tr>
              </table>
            </center>
          </td>
        </tr>

        <tr style="margin: 0 auto; height: 30px; background-color: #ffffff">
          <td style="margin: 0 auto"></td>
        </tr>

        <tr style="margin: 0 auto; height: 80px">
          <td style="margin: 0 auto"></td>
        </tr>

        <tr style="margin: 0 auto; height: 1px; background-color: #e6e6e6">
          <td style="margin: 0 auto"></td>
        </tr>

        <tr style="margin: 0 auto; height: 4px; background-color: #ececec">
          <td style="margin: 0 auto"></td>
        </tr>
      </table>
    </center>
  </body>
</html>
