<ng-container *ngIf="item.lists && item.lists.length > 0">
  <h3 class="text-[14px] mb-2 mt-4">Listed in :</h3>
  <ul class="pl-2 mb-4">
    <li class="list-disc" *ngFor="let list of item.lists; let i = index">
      <ng-container *ngIf="list.id; else noLink">
        <a
          class="underline decoration-dotted"
          (click)="closeModals()"
          routerLink="/collections/{{ list.id }}"
          >{{ list.name }}</a
        >
      </ng-container>
      <ng-template #noLink>
        {{ list.name }}
      </ng-template>
    </li>
  </ul>
</ng-container>
