<ng-container *ngIf="isLoading || isLoadingList; else contentOrEmpty">
  <app-skeleton-collection-details
    [user]="user"
  ></app-skeleton-collection-details>
</ng-container>

<ng-template #contentOrEmpty>
  <ng-container *ngIf="list; else error">
    <div *ngIf="works && works.length > 0; else empty">
      <header
        class="sm:flex justify-between items-center max-w-[920px] mb-4"
        [ngClass]="{'!mb-2': list.description}"
      >
        <h1 class="!mb-0">
          <span class="max-w-[80%] sm:max-w-none">{{ list.name }}</span>
          <span (click)="updateList('editList' + list._id)" class="edit">
            <span
              class="block w-[24px] h-[24px] bg-black dark:bg-white"
              style="
                -webkit-mask: url(&quot;/assets/images/icons/edit.svg&quot;);
                mask: url(&quot;/assets/images/icons/edit.svg&quot;);
                -webkit-mask-size: 24px 24px;
                mask-size: 24px 24px;
              "
            ></span>
          </span>
        </h1>
        <div class="link mb-0">
          <a class="arrow-back" routerLink="/collections"
            >Back to my collections</a
          >
        </div>
      </header>

      <p class="mb-6 italic" *ngIf="list.description">{{ list.description }}</p>

      <div class="max-w-[1080px]">
        <app-list-content
          [content]="works"
          [user]="user"
          [isList]="true"
          [list]="list._id"
        ></app-list-content>
      </div>
    </div>

    <ng-template #empty>
      <app-collections-details-empty
        [list]="list"
      ></app-collections-details-empty>
    </ng-template>

    <ng-container *ngIf="list._id">
      <app-modal
        modalId="editList{{ list._id }}"
        [classes]="
          isMobile ? '!h-[400px] !max-w-[90%]' : '!max-w-[600px] !h-[400px]'
        "
        #createListModal
      >
        <app-edit-list [user]="user!" [list]="list"></app-edit-list>
      </app-modal>
    </ng-container>

    <app-modal
      modalId="addList"
      [classes]="
        isMobile ? '!h-[400px] !max-w-[90%]' : '!max-w-[600px] !h-[400px]'
      "
      #createListModal
    >
      <app-create-list [user]="user!"></app-create-list>
    </app-modal>
  </ng-container>
  <ng-template #error>
    <h2>
      It seems that there has been an error retrieving the list. Please try
      again.
    </h2>
  </ng-template>
</ng-template>
