.bg {
  @apply fixed w-full h-[calc(100vh-144px)] top-[460px] left-[90px] bg-body-pattern bg-[length:1900px] bg-no-repeat;
}

h2 {
  @apply font-normal max-w-[700px];
}

.name {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-light to-yellow-dark;
}
