<h1>
  Hello <span class="name">{{ user.firstname }}</span> ! 👋
</h1>

<h2>
  It's kind of empty in here... start by clicking on the link below to add a
  collection !
</h2>

<a
  (click)="openModal('addList')"
  class="!flex justify-center items-center btn btn-add mt-2 max-w-[440px]"
>
  <span>Add a collection</span>
</a>

<div class="bg"></div>
