<ngx-skeleton-loader
  [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
  appearance="line"
  [theme]="{
    background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
    display: 'block',
    width: '220px',
    height: '40px',
    'margin-bottom': '34px'
  }"
></ngx-skeleton-loader>
<ngx-skeleton-loader
  [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
  appearance="line"
  [theme]="{
    background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
    display: 'block',
    width: '442px',
    height: '40px',
    'margin-bottom': '32px'
  }"
></ngx-skeleton-loader>
<ngx-skeleton-loader
  [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
  appearance="line"
  [theme]="{
    background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
    display: 'block',
    width: '220px',
    height: '40px',
    'margin-bottom': '32px'
  }"
></ngx-skeleton-loader>

<ngx-skeleton-loader
  [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
  appearance="line"
  [theme]="{
    background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
    display: 'block',
    width: '220px',
    'margin-bottom': '32px'
  }"
></ngx-skeleton-loader>

<div class="flex items-top flex-wrap gap-[30px] pr-6">
  <div *ngFor="let i of [0, 1, 2, 3, 4]; let index = index" class="mb-3">
    <ngx-skeleton-loader
      [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
      appearance="line"
      [theme]="{
        background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
        width: '157px',
        height: '235px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
      appearance="line"
      [theme]="{
        background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
        display: 'block',
        width: '0',
        height: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
      appearance="line"
      [theme]="{
        background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
        clear: 'both',
        width: '157px'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
      appearance="line"
      [theme]="{
        background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
        display: 'block',
        width: '0',
        height: '0'
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
      appearance="line"
      [theme]="{
        background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
        width: '157px'
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
