<nav
  class="fixed h-full w-[var(--nav-width)] z-50 bg-whiteshade dark:bg-black-dark border-borders-light dark:border-borders-darker border-r"
  [ngClass]="{'mobile-menu': isMobile}"
>
  <a class="logo" routerLink="/">
    <img
      [src]="
        user?.theme === 'light'
          ? './assets/images/icons/bookself-logo.svg'
          : './assets/images/icons/bookself-logo-white.svg'
      "
      alt="Bookself"
      class="block mt-3 pl-3"
    />
  </a>

  <ul class="menu pt-4">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="border-works-history" routerLink="/">
        <span
          class="block w-[32px] h-[32px] bg-black dark:bg-white mr-2"
          style="
            -webkit-mask: url(&quot;/assets/images/icons/history.svg&quot;);
            mask: url(&quot;/assets/images/icons/history.svg&quot;);
            -webkit-mask-size: 32px 32px;
            mask-size: 32px 32px;
          "
        ></span>
        Dashboard
      </a>
    </li>
    <li
      *ngFor="let workType of workTypes"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <a
        class="border-works-{{ workType.replace('/', '') }}"
        routerLink="/works/{{ workType }}"
      >
        <span
          class="block w-[32px] h-[32px] bg-black dark:bg-white mr-2"
          style="
      -webkit-mask: url('/assets/images/icons/{{
            workType.replace('/', '-')
          }}.svg');
      mask: url('/assets/images/icons/{{ workType.replace('/', '-') }}.svg');
          -webkit-mask-size: 32px 32px;
          mask-size: 32px 32px;"
        ></span
        >{{ getWorkLabel(workType) | titlecase }}
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="border-black" routerLink="/collections">
        <span
          class="block w-[32px] h-[32px] bg-black dark:bg-white mr-2"
          style="
            -webkit-mask: url(&quot;/assets/images/icons/lists.svg&quot;);
            mask: url(&quot;/assets/images/icons/lists.svg&quot;);
            -webkit-mask-size: 32px 32px;
            mask-size: 32px 32px;
          "
        ></span>
        My collections
      </a>
    </li>
    <li *ngIf="isMobile" class="border-none absolute bottom-[80px]">
      <a class="border-none" (click)="openModal('search')">
        <span
          class="block w-[32px] h-[32px] bg-black dark:bg-white mr-2"
          [style]="
            user!.theme === 'dark'
              ? '-webkit-mask: url(&quot;/assets/images/icons/search-white.svg&quot;) center/contain no-repeat; mask: url(&quot;/assets/images/icons/search-white.svg&quot;) center/contain no-repeat;'
              : '-webkit-mask: url(&quot;/assets/images/icons/search.svg&quot;) center/contain no-repeat; mask: url(&quot;/assets/images/icons/search.svg&quot;) center/contain no-repeat;'
          "
          style="-webkit-mask-size: 24px 24px; mask-size: 24px 24px"
        ></span>
        Search
      </a>
    </li>
  </ul>
</nav>

<ng-container
  class="border-works-seriesanimation border-works-movies border-works-series border-works-games border-works-mangas border-works-comics border-works-books border-works-music"
></ng-container>
