@property --gradientcolor1 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --gradientcolor2 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

.menu {
  li {
    background: linear-gradient(
      135deg,
      var(--gradientcolor1),
      var(--gradientcolor2)
    );
    /* stylelint-disable custom-property-no-missing-var-function */
    transition:
      --gradientcolor1 0.3s,
      --gradientcolor2 0.3s;
    /* stylelint-enable custom-property-no-missing-var-function */

    @apply h-7 w-full font-bold border-b border-borders-light dark:border-borders-darker;

    a {
      @apply flex items-center h-full border-l-4 leading-[56px] pl-3;

      &:hover {
        @apply text-black;

        span {
          @apply dark:bg-black;
        }
      }
    }

    &:hover,
    &.active {
      --gradientcolor1: rgb(255 230 3 / 100%);
      --gradientcolor2: rgb(235 127 0 / 100%);

      @apply dark:text-black;

      span {
        @apply dark:bg-black;
      }
    }
  }
}

.mobile-menu {
  @apply pt-8;
  .logo {
    @apply hidden;
  }
}
