@use "src/styles/form.scss";

:host {
  @apply block sm:px-2;
}

h2 {
  @apply text-m sm:text-xl text-center;
}

.types {
  a {
    @apply ml-1 duration-0;

    &:first-child {
      @apply ml-0;
    }

    &.active {
      --gradientcolor1: rgb(255 230 3 / 100%);
      --gradientcolor2: rgb(235 127 0 / 100%);

      background: linear-gradient(
        135deg,
        var(--gradientcolor1),
        var(--gradientcolor2)
      );

      @apply text-black;

      &:before,
      &:after {
        @apply hidden;
      }
    }
  }
}

form {
  @apply my-2 sm:my-4 sm:px-3;
}

.error,
.success {
  @apply relative h-[30px] -top-[15px] sm:-top-[25px] text-form-error dark:text-form-errorLight text-sm text-center;
}
.success {
  @apply text-form-success dark:text-form-successLight;
}

div.search {
  @apply overflow-y-scroll h-[calc(100%-180px)] sm:h-auto max-h-[600px] sm:max-h-[430px] pb-3;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > div {
    @apply sm:flex justify-between items-center mb-4;

    .infos {
      @apply flex sm:w-[54%] justify-start items-center;

      .icon {
        @apply relative w-[90px] h-[90px] rounded-full overflow-hidden mr-2;

        &.default {
          @apply bg-whitegrey;

          img {
            @apply absolute inset-y-2/4 -translate-y-2/4 left-1/2 -translate-x-2/4;
          }
        }
      }

      .metas {
        @apply max-w-[calc(100%-106px)] text-base;

        .title {
          @apply font-bold;
        }
      }
    }
  }

  .add {
    @apply sm:w-[46%];
  }

  .addToListLink {
    &.listActive {
      @apply bg-whitegrey dark:bg-blackest;
    }
  }

  .loadMore {
    @apply m-auto mt-6;
  }
}
