<h2>Find a movie, series, manga...</h2>

<div class="types text-center">
  <ng-container *ngFor="let type of worksTypesArray">
    <ng-container *ngIf="type !== worksTypes.Animation">
      <a
        class="btn btn-small"
        [ngClass]="{active: type === searchType}"
        (click)="defineType(type)"
      >
        {{ getEnumKeyByEnumValue(type) }}
      </a>
    </ng-container>
  </ng-container>
</div>

<form [formGroup]="searchForm">
  <input
    class="search"
    type="text"
    formControlName="search"
    (input)="onInputChange($event)"
    placeholder='Search a movie (ex. : "Batman")'
  />
</form>

<ng-container *ngIf="searchResults$ | async as searchResults">
  <ng-container *ngIf="isLoading; else contentOrEmpty">
    <app-skeleton-search-work [user]="user"></app-skeleton-search-work>
  </ng-container>

  <ng-template #contentOrEmpty>
    <div class="messages h-[30px]">
      <div class="error" *ngIf="addError" [@fadeOut]="addError">
        {{ addError.error.error }}
      </div>
      <div
        class="success"
        *ngIf="addedToListSuccess"
        [@fadeOut]="addedToListSuccess"
      >
        {{ addedToListSuccess }}
      </div>
    </div>

    <div
      class="search searchDiv"
      (scroll)="onScroll()"
      *ngIf="searchResults.length > 0; else noResults"
      [ngClass]="{'!overflow-y-visible': searchResults.length < 4}"
    >
      <div class="relative line" *ngFor="let searchResult of searchResults">
        <div class="infos">
          <div class="icon" *ngIf="searchResult.cover; else default">
            <img
              src="{{ imagesPath }}{{ searchResult.cover }}"
              alt="{{ searchResult.title }}"
            />
          </div>
          <ng-template #default>
            <div class="icon default">
              <img
                src="./assets/images/icons/{{ searchType }}.svg"
                alt="{{ searchResult.title }}"
              />
            </div>
          </ng-template>
          <div class="metas w-[calc(100%-106px-98px)] sm:w-auto">
            <div class="title">{{ searchResult.title }}</div>
            <div class="release">
              <ng-container
                *ngIf="isMangaOrComic(searchResult); else notMangaOrComic"
              >
                <div class="date text-sm">{{ searchResult.releaseDate }}</div>
              </ng-container>
              <ng-template #notMangaOrComic>
                <div class="date text-sm">
                  {{ searchResult.releaseDate | date: "yyyy" }}
                </div>
              </ng-template>
              <ng-container *ngIf="searchResult | guardType: isGame as game">
                <ng-container *ngIf="getGameCategories(game.category)">
                  <span class="italic text-grey">{{
                    getGameCategories(game.category)
                  }}</span>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="searchResult | guardType: isComic as comic">
                <ng-container *ngIf="comic.publisher">
                  <span class="italic text-grey">{{ comic.publisher }}</span>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <a
            *ngIf="isMobile"
            class="btn !h-fit !py-[12px] !text-[16px] !px-[12px] max-w-[100px] sm:max-w-none ml-auto"
            (click)="add(searchResult, user, $event)"
            >Add</a
          >
        </div>
        <div class="add">
          <div class="btns flex items-center justify-end relative">
            <a
              (click)="toggleAddToList($event, searchResult.providerId)"
              class="addToListLink addToListLink{{
                searchResult.providerId
              }} flex items-center justify-between cursor-pointer !text-[14px] !leading-[24px] rounded-lg !p-0 sm:!p-[5px] mr-0 sm:mr-2 transition duration-300"
            >
              <img
                [src]="
                  user.theme === 'light'
                    ? './assets/images/icons/add-to-list.svg'
                    : './assets/images/icons/add-to-list-white.svg'
                "
                alt="Add to collection"
                class="max-w-[20px] sm:max-w-[24px] mr-1"
              />Add to collection</a
            >
            <a
              *ngIf="!isMobile"
              class="btn text-m !py-[15px] !px-[18px]"
              (click)="add(searchResult, user, $event)"
              >Add</a
            >
            <div
              [@fadeInOut]
              *ngIf="isAddToListVisible(searchResult.providerId)"
              class="addToList absolute z-50 w-[300px] rounded-lg top-0 right-[260px] bg-white dark:bg-black-dark drop-shadow-base dark:drop-shadow-[0_0_15px_#111] p-2 pb-1"
            >
              <app-add-to-list
                (addedToList)="addedToList($event)"
                (creatingList)="creatingList($event)"
                (addToListError)="addToListError($event)"
                (close)="closeAddToList($event)"
                [user]="user"
                [item]="searchResult"
              ></app-add-to-list>
            </div>
          </div>
          <app-work-date
            *ngIf="
              lastAddedItem &&
              lastAddedItem.title == searchResult.title &&
              lastAddedItem.releaseDate == searchResult.releaseDate &&
              lastAddedItem.cover == searchResult.cover
            "
            [onlyForm]="true"
            [item]="lastAddedItem"
          ></app-work-date>
        </div>
        <ng-container *ngIf="isMobile">
          <app-modal [modalId]="'addList_' + searchResult.providerId">
            <app-add-to-list
              (addedToList)="addedToList($event)"
              (creatingList)="creatingList($event)"
              (addToListError)="addToListError($event)"
              (close)="closeAddToList($event)"
              [user]="user"
              [item]="searchResult"
              [inModal]="true"
            ></app-add-to-list> </app-modal
        ></ng-container>
      </div>
      <ng-container *ngIf="pagination.page < pagination.totalPages">
        <a
          class="loadMore btn btn-transparent"
          (click)="loadMore(pagination.page + 1)"
          >Load more</a
        >
      </ng-container>
    </div>
  </ng-template>
</ng-container>

<ng-template #noResults>
  <p class="text-center font-bold" *ngIf="!searchForm.get('search')?.pristine">
    Nothing found.
  </p>
</ng-template>

<app-modal
  modalId="addList"
  [classes]="isMobile ? '!h-[400px] !max-w-[90%]' : '!max-w-[600px] !h-[400px]'"
  #createListModal
>
  <app-create-list [user]="user!"></app-create-list>
</app-modal>
