.icon {
  @apply absolute -top-[4px] -right-[4px] w-[46px] h-[46px] z-10 rounded-full bg-[rgba(240,240,240,0.8)] p-[7px];
}

.remove {
  @apply bg-[rgba(0,0,0,0.5)] rounded-full w-[26px] h-[26px] p-[2px];

  span {
    @apply block w-[22px] h-[22px] bg-white;
    -webkit-mask: url("/assets/images/icons/remove.svg") no-repeat center;
    mask: url("/assets/images/icons/remove.svg");
  }
}

.addToListLink {
  @apply bg-[rgba(0,0,0,0.5)] rounded-full w-[26px] h-[26px] p-[2px];

  span {
    @apply block w-[22px] h-[22px] bg-white;
    -webkit-mask: url("/assets/images/icons/add-to-list.svg") no-repeat center;
    mask: url("/assets/images/icons/add-to-list.svg");
    -webkit-mask-size: 14px;
  }

  &.listActive {
    @apply visible opacity-100;
  }
}

.card:hover {
  .remove {
    @apply visible opacity-100;
  }
  .addToListLink {
    @apply visible opacity-100;
  }
}

.card.games {
  .cover:not(.hasMultipleTypes) {
    @apply h-[214px];
  }
}
.card.movies,
.card.series {
  .cover:not(.hasMultipleTypes) {
    @apply h-[240px];
  }
}

.userRating {
  @apply drop-shadow-base;

  &.rating-red {
    background: linear-gradient(
      135deg,
      var(--color-form-error),
      var(--color-form-errorDark)
    ) !important;
  }

  &.rating-orange {
    background: linear-gradient(
      135deg,
      var(--color-yellow-light),
      var(--color-yellow-dark)
    ) !important;
  }

  &.rating-green {
    background: linear-gradient(
      135deg,
      var(--color-form-successLight),
      var(--color-form-success)
    ) !important;
  }
}

.circle-wrap {
  @apply mx-auto w-[24px] h-[24px] bg-borders-light rounded-full;

  .circle {
    .mask,
    .fill {
      @apply w-[24px] h-[24px] absolute rounded-full;
    }

    .mask {
      clip: rect(0px, 24px, 24px, 12px);

      .fill {
        @apply bg-form-success;
        clip: rect(0px, 12px, 24px, 0px);
      }
    }

    .mask.full,
    .fill {
      @apply animate-fillCircle ease-in-out duration-[3000ms] transform;
      transform: rotate(var(--rotation-angle));
    }

    .mask.full .fill {
      // background: linear-gradient(360deg, orange, green);
    }
    .mask.half .fill {
      // background: linear-gradient(0deg, red, orange);
    }
  }

  .inside-circle {
    @apply absolute z-10 top-[2px] right-[2px] w-[20px] h-[20px] bg-white rounded-full text-center font-bold;
  }
}
