<div
  class="card {{ item.type }} relative w-[160px] cursor-pointer"
  (click)="openModal(item._id, $event)"
>
  <div class="icon cursor-pointer" *ngIf="hasMultipleTypes">
    <img
      class="max-w-[32px]"
      src="./assets/images/icons/{{ item.type }}.svg"
      alt="{{ item.type }} icon"
    />
  </div>

  <div class="relative cover h-[251px] mb-1" [ngClass]="{hasMultipleTypes}">
    <img
      crossorigin="anonymous"
      [ngClass]="{
        'max-h-[214px]': item.type === WorksTypes.Game,
        'max-h-[240px]':
          item.type === WorksTypes.Movie || item.type === WorksTypes.Series
      }"
      src="{{ imagesPath }}{{ item.cover }}"
      alt="{{ item.title }}"
    />
    <div
      class="userRating absolute w-[40px] h-[40px] bottom-1 right-1 text-[18px] text-center pt-[7px] rounded-full font-bold text-white px-[4px] py-[2px]"
      [class.rating-red]="item.userRating < 50"
      [class.rating-orange]="item.userRating >= 50 && item.userRating <= 75"
      [class.rating-green]="item.userRating > 75"
      *ngIf="item.userRating"
    >
      <span class="drop-shadow-base">{{
        item.userRating | number: "1.0-0"
      }}</span>
    </div>
  </div>
  <div class="metas">
    <div class="title font-bold">{{ item.title }}</div>
    <ng-container *ngIf="isMangaOrComic(item); else notMangaOrComic">
      <div class="date text-sm">{{ item.releaseDate }}</div>
    </ng-container>
    <ng-template #notMangaOrComic>
      <div class="date text-sm">{{ item.releaseDate | date: "yyyy" }}</div>
    </ng-template>
    <div
      class="directors text-sm text-grey dark:text-borders-dark"
      *ngIf="item | guardType: isMovie as movie"
    >
      <ng-container *ngIf="movie.directors && movie.directors.length > 0">
        <ng-container
          *ngFor="let director of movie.directors.slice(0, 2); let i = index"
        >
          {{ director.name
          }}<ng-container *ngIf="i + 1 < movie.directors.length && i < 1"
            >,
          </ng-container>
        </ng-container>

        <ng-container *ngIf="movie.directors.length > 2">, ...</ng-container>
      </ng-container>
    </div>
    <div
      class="directors text-sm text-grey dark:text-borders-dark"
      *ngIf="item | guardType: isManga as manga"
    >
      <ng-container
        *ngIf="
          manga.status === 'completed' &&
          manga.volumes?.length === manga.progress?.length
        "
      >
        <div class="progress absolute -top-[10px] -right-[10px] max-w-[24px]">
          <img
            src="./assets/images/icons/completed.svg"
            alt="Manga completed"
          />
        </div>
      </ng-container>
    </div>
    <div
      class="directors text-sm text-grey dark:text-borders-dark"
      *ngIf="item | guardType: isComic as comic"
    >
      <ng-container *ngIf="comic.volumes?.length === comic.progress?.length">
        <div class="progress absolute -top-[10px] -right-[10px] max-w-[24px]">
          <img
            src="./assets/images/icons/completed.svg"
            alt="Comic completed"
          />
        </div>
      </ng-container>
    </div>
    <div
      class="directors text-sm text-grey dark:text-borders-dark"
      *ngIf="item | guardType: isSeries as series"
    >
      <ng-container *ngIf="series.creators && series.creators.length > 0">
        <ng-container
          *ngFor="let creator of series.creators.slice(0, 2); let i = index"
        >
          {{ creator.name
          }}<ng-container *ngIf="i + 1 < series.creators.length && i < 1"
            >,
          </ng-container>
        </ng-container>

        <ng-container *ngIf="series.creators.length > 2">, ...</ng-container>
      </ng-container>
      <ng-container *ngIf="series.progress?.completed; else progression">
        <div class="progress absolute -top-[10px] -right-[10px] max-w-[24px]">
          <img
            src="./assets/images/icons/completed.svg"
            alt="Series completed"
          />
        </div>
      </ng-container>
      <ng-template #progression>
        <div
          class="progress absolute -top-[10px] -right-[10px] w-[24px] h-[24px] c100 p{{
            completion
          }}"
        >
          <div class="circle-wrap">
            <div
              class="circle"
              style="--rotation-angle: {{ (180 * completion!) / 100 }}deg;"
            >
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
              </div>
              <div class="inside-circle"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div
      class="directors text-sm text-grey dark:text-borders-dark"
      *ngIf="mangaOrComicItem"
    >
      <ng-container
        *ngIf="mangaOrComicItem.authors && mangaOrComicItem.authors.length > 0"
      >
        <ng-container
          *ngFor="
            let author of mangaOrComicItem.authors.slice(0, 2);
            let i = index
          "
        >
          {{ author.name
          }}<ng-container
            *ngIf="i + 1 < mangaOrComicItem.authors.length && i < 1"
            >,
          </ng-container>
        </ng-container>

        <ng-container *ngIf="mangaOrComicItem.authors.length > 2"
          >, ...</ng-container
        >
      </ng-container>
    </div>

    <div
      class="directors text-sm text-grey dark:text-borders-dark"
      *ngIf="item | guardType: isGame as game"
    >
      <ng-container *ngIf="game.involvedCompanies">
        <ng-container
          *ngFor="let company of game.involvedCompanies; let i = index"
        >
          <ng-container *ngIf="company.role === 'developer'"
            >{{ company.name }}
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div
    class="remove transition duration-300 invisible opacity-0 absolute top-1 left-1"
    (click)="openDeleteConfirmation($event, item._id)"
  >
    <span></span>
  </div>
  <div
    class="addToListLink addToListLink{{
      item.providerId
    }} transition duration-300 invisible opacity-0 absolute top-5 left-1"
    (click)="toggleAddToList($event)"
  >
    <span></span>
  </div>
  <div
    [@fadeInOut]
    (click)="stopPropagation($event)"
    *ngIf="isAddToListVisible()"
    class="addToList addToList{{
      item.providerId
    }} absolute z-50 w-[300px] rounded-lg top-10 left-[30px] bg-white dark:bg-black-dark
     drop-shadow-base dark:drop-shadow-[0_0_15px_#111] p-2 pb-1"
  >
    <app-add-to-list
      (addedToList)="addedToList($event)"
      (creatingList)="creatingList($event)"
      (addToListError)="addToListError($event)"
      (close)="closeAddToList($event)"
      [user]="user"
      [item]="item"
    ></app-add-to-list>
  </div>
</div>

<app-modal [modalId]="item._id" classes="worksDetailsModal overflow-y-scroll">
  <ng-container
    *ngTemplateOutlet="detailsTemplate; context: {$implicit: item, list: list}"
  ></ng-container>
  <ng-template #detailsTemplate let-item let-list="list">
    <ng-container
      *ngComponentOutlet="detailsComponent; inputs: {item: item, list: list}"
    ></ng-container>
  </ng-template>
</app-modal>

<app-modal [modalId]="'dlt_' + item._id" classes="max-w-[560px]">
  <ng-container *ngIf="!list; else fromList">
    <h2 class="text-center">Do you really wish to delete this work ?</h2>
    <img
      crossorigin="anonymous"
      src="{{ imagesPath }}{{ item.cover }}"
      alt="{{ item.title }}"
      class="block max-w-[200px] m-auto mb-5"
    />
    <div class="max-w-[340px] m-auto flex justify-around items-center">
      <button (click)="remove(item, $event)" class="btn">Yes please</button>
      <div class="btn btn-transparent" (click)="closeModal('dlt_' + item._id)">
        Hell no
      </div>
    </div>
  </ng-container>
  <ng-template #fromList>
    <h2 class="text-center">
      Do you really wish to delete this work from its collection ?
    </h2>
    <img
      crossorigin="anonymous"
      src="{{ imagesPath }}{{ item.cover }}"
      alt="{{ item.title }}"
      class="block max-w-[200px] m-auto mb-5"
    />
    <div class="max-w-[340px] m-auto flex justify-around items-center">
      <button (click)="remove(item, $event, list)" class="btn">
        Yes please
      </button>
      <div class="btn btn-transparent" (click)="closeModal('dlt_' + item._id)">
        Hell no
      </div>
    </div>
  </ng-template>
</app-modal>

<ng-container *ngIf="isMobile">
  <app-modal [modalId]="'addList_' + item.providerId">
    <app-add-to-list
      (addedToList)="addedToList($event)"
      (creatingList)="creatingList($event)"
      (addToListError)="addToListError($event)"
      (close)="closeAddToList($event)"
      [user]="user"
      [item]="item"
      [inModal]="true"
    ></app-add-to-list> </app-modal
></ng-container>

<ng-container *ngIf="addedToListSuccess">
  <app-toast
    [message]="addedToListSuccess"
    [classes]="'bg-form-success'"
    [@fadeInOut]
  ></app-toast>
</ng-container>
<ng-container *ngIf="addError">
  <app-toast
    [message]="addError.error.error"
    [classes]="'bg-form-error'"
    [@fadeInOut]
  ></app-toast>
</ng-container>
