section.login {
  @apply block m-auto mt-6 mb-6 py-4 px-2 sm:px-[185px] sm:py-7 w-full sm:w-[820px] sm:h-[400px] text-center text-white rounded-lg;

  background: linear-gradient(
    135deg,
    var(--color-yellow-light),
    var(--color-yellow-dark)
  );

  h1 {
    @apply drop-shadow-base;
  }
}
