<div class="w-[688px] h-[430px] overflow-hidden mt-[50px]">
  <div class="flex justify-between items-center mb-2">
    <div class="flex justify-start items-center">
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="circle"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '90px',
          height: '90px',
          'margin-left': '0',
          'margin-right': '16px'
        }"
      ></ngx-skeleton-loader>
      <div>
        <ngx-skeleton-loader
          [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
          appearance="line"
          [theme]="{
            background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
            display: 'block',
            width: '160px',
            height: '17px'
          }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
          appearance="line"
          [theme]="{
            background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
            display: 'block',
            width: '160px',
            height: '17px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="line"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '125px',
          height: '36px',
          'margin-right': '8px'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="line"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '90px',
          height: '64px',
          'border-radius': '7px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>

  <div class="flex justify-between items-center mb-2">
    <div class="flex justify-start items-center">
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="circle"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '90px',
          height: '90px',
          'margin-left': '0',
          'margin-right': '16px'
        }"
      ></ngx-skeleton-loader>
      <div>
        <ngx-skeleton-loader
          [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
          appearance="line"
          [theme]="{
            background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
            display: 'block',
            width: '160px',
            height: '17px'
          }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
          appearance="line"
          [theme]="{
            background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
            display: 'block',
            width: '160px',
            height: '17px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="line"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '125px',
          height: '36px',
          'margin-right': '8px'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="line"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '90px',
          height: '64px',
          'border-radius': '7px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>

  <div class="flex justify-between items-center mb-2">
    <div class="flex justify-start items-center">
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="circle"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '90px',
          height: '90px',
          'margin-left': '0',
          'margin-right': '16px'
        }"
      ></ngx-skeleton-loader>
      <div>
        <ngx-skeleton-loader
          [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
          appearance="line"
          [theme]="{
            background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
            display: 'block',
            width: '160px',
            height: '17px'
          }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
          appearance="line"
          [theme]="{
            background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
            display: 'block',
            width: '160px',
            height: '17px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="line"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '125px',
          height: '36px',
          'margin-right': '8px'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="line"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '90px',
          height: '64px',
          'border-radius': '7px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>

  <div class="flex justify-between items-center mb-2">
    <div class="flex justify-start items-center">
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="circle"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '90px',
          height: '90px',
          'margin-left': '0',
          'margin-right': '16px'
        }"
      ></ngx-skeleton-loader>
      <div>
        <ngx-skeleton-loader
          [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
          appearance="line"
          [theme]="{
            background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
            display: 'block',
            width: '160px',
            height: '17px'
          }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
          appearance="line"
          [theme]="{
            background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
            display: 'block',
            width: '160px',
            height: '17px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="line"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '125px',
          height: '36px',
          'margin-right': '8px'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        [animation]="user.theme === 'light' ? 'progress' : 'progress-dark'"
        appearance="line"
        [theme]="{
          background: user.theme === 'light' ? 'rgb(239,241,246)' : '#323232',
          width: '90px',
          height: '64px',
          'border-radius': '7px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
