<div class="link mb-5">
  <a class="arrow" routerLink="/account/stats">My stats</a>
</div>

<div class="stats">
  <app-latest-discovery [content]="content"></app-latest-discovery>
  <app-month-activity [user]="user"></app-month-activity>
</div>
