:host {
  @apply block max-w-[920px] relative -top-5;
}

.link {
  @apply flex justify-end leading-[48px];

  a {
    @apply font-normal text-sm;
  }
}

.stats {
  @apply flex justify-between items-center mb-7;
}
