<h1>I already have an account</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="email" formControlName="email" placeholder="Email" />
  <ng-container *ngIf="loginForm.get('email')?.touched">
    <div class="error" *ngIf="loginForm.get('email')?.hasError('required')">
      Email is required.
    </div>
    <div class="error" *ngIf="loginForm.get('email')?.hasError('email')">
      Please enter a valid email address.
    </div>
  </ng-container>
  <div class="password relative">
    <input
      [type]="showPassword ? 'text' : 'password'"
      formControlName="password"
      placeholder="Password"
    />
    <span
      class="showPassword block absolute w-[24px] h-[24px] top-[12px] right-[12px]"
      [ngClass]="{active: showPassword}"
      (click)="showPassword = !showPassword"
    ></span>
  </div>
  <ng-container *ngIf="loginForm.get('password')?.touched">
    <div class="error" *ngIf="loginForm.get('password')?.hasError('required')">
      Password is required.
    </div>
  </ng-container>
  <div class="error" *ngIf="error">
    <ng-container *ngIf="error.status === 403; else classicError">
      <ng-container *ngIf="activationEmailSent; else link">
        <p class="font-bold text-sm text-form-success">
          Activation email sent.
        </p>
      </ng-container>
      <ng-template #link>
        {{ error.error.error }}.
        <a
          class="text-form-green cursor-pointer"
          (click)="sendActivationEmail()"
          >Send another activation email ?</a
        >
      </ng-template>
    </ng-container>
    <ng-template #classicError>
      {{ error.error.error }}
    </ng-template>
  </div>
  <button type="submit">{{ submitButtonText }}</button>
  <a routerLink="/forgotten-password">Forgot your password ?</a>
</form>

<h2>I don't have an account</h2>
<button routerLink="/signup" class="btn btn-transparent full">Sign up</button>
