<ng-container *ngIf="activationSent; else form">
  <p>
    A new activation email has been sent. Please check your emails to validate
    your account.
  </p>
</ng-container>

<ng-template #form>
  <form [formGroup]="activationForm" (ngSubmit)="onSubmit()">
    <input type="email" formControlName="email" placeholder="Email" />
    <ng-container *ngIf="activationForm.get('email')?.touched">
      <div
        class="error"
        *ngIf="activationForm.get('email')?.hasError('required')"
      >
        Email is required.
      </div>
      <div class="error" *ngIf="activationForm.get('email')?.hasError('email')">
        Please enter a valid email address.
      </div>
    </ng-container>
    <div class="error" *ngIf="error">
      {{ error.error.error }}
    </div>
    <button type="submit">Send an activation link</button>
  </form>
</ng-template>
