<div class="filters" *ngIf="filters">
  <span
    class="filters-icon btn !text-base !max-w-max !py-1 !px-2 !flex justify-start items-center"
    (click)="toggleFilters()"
    [ngClass]="{'filters-open': isFiltersPanelOpen}"
  >
    <span
      class="block w-[16px] h-[16px] mr-1 bg-white dark:bg-black"
      style="
        -webkit-mask: url(&quot;/assets/images/icons/filter.svg&quot;);
        mask: url(&quot;/assets/images/icons/filter.svg&quot;);
        -webkit-mask-size: 16px 16px;
        mask-size: 16px 16px;
      "
    ></span
    >Filter</span
  >
</div>
<div class="dropdown z-10" (click)="toggleDropdown()">
  <div class="dropdown-toggle flex justify-start items-center max-w-[200px]">
    <img
      src="/assets/images/icons/sort.svg"
      alt="Sort"
      class="max-w-[8px] mr-1"
    />
    <div
      class="block whitespace-nowrap text-ellipsis overflow-hidden dark:text-black"
    >
      {{ sortLabel }}
    </div>
  </div>
  <ul *ngIf="showDropdown" class="dropdown-menu">
    <li *ngFor="let option of sortOptions" (click)="sort(option)">
      {{ option.label }}
    </li>
  </ul>
</div>

<div
  class="filters-panel top-0 -left-full fixed bg-white dark:bg-black-dark -z-[1] w-screen h-screen pt-1 transition-all"
  [ngClass]="{'!left-0 !z-[100]': isFiltersPanelOpen}"
>
  <div class="filters p-2">
    <h2 class="filters-title pb-2 border-b border-borders-dark">Filters</h2>
    <span (click)="toggleFilters()" class="close">x</span>

    <a
      class="!block mb-2 !max-w-max btn btn-small"
      *ngFor="let filter of filters"
      [ngClass]="{active: activeFilter === filter}"
      (click)="filterByGenre(filter)"
      >{{ filter }}</a
    >
  </div>

  <div class="absolute bottom-0 bg-whitegrey dark:bg-blacker w-full py-3 px-2">
    <span
      class="text-grey dark:text-whiteshade underline"
      (click)="toggleFilters()"
      >Go back</span
    >
  </div>
</div>
