<div class="md:flex justify-start items-start" #seriesDetailsElement>
  <div class="image md:top-0 md:sticky z-40">
    <div
      *ngIf="isMobile && !isTablet"
      class="text-center text-xl leading-11 font-bold mb-2"
    >
      {{ item.title }}
      <span class="year font-normal"
        >({{ item.releaseDate | date: "yyyy" }})</span
      >
    </div>
    <app-work-details-image [item]="item"></app-work-details-image>
    <div
      *ngIf="item.rating"
      class="ml-[calc((100%-251px)/2)] md:ml-0 text-sm italic grey mt-[4px]"
    >
      Rating source : {{ seriesProviders[item.provider] }}
    </div>
    <ng-container *ngIf="item.discoveryDate; else addToUser">
      <app-work-date [item]="item" [list]="list" [user]="user"></app-work-date>
      <app-edit-work-rating [item]="item"></app-edit-work-rating>
      <app-details-add-to-list
        [user]="user"
        [item]="item"
      ></app-details-add-to-list>
    </ng-container>
    <ng-template #addToUser>
      <a
        class="btn btn-add !pl-2 !pr-[4px] !text-m !max-w-[251px] mt-3"
        (click)="addFromList(item, user, $event)"
        ><span>Add to my series</span></a
      >
      <div class="error" *ngIf="addError" [@fadeOut]="addError">
        {{ addError.error.error }}
      </div>
    </ng-template>
    <app-work-lists [item]="item"></app-work-lists>
  </div>
  <div class="infos">
    <div
      *ngIf="!isMobile || isTablet"
      class="text-xl leading-11 font-bold mb-2"
    >
      {{ item.title }}
      <span class="year font-normal"
        >({{ item.releaseDate | date: "yyyy" }})</span
      >
    </div>
    <div class="metas text-sm text-grey dark:text-borders-dark mb-2">
      <span class="date text-sm">{{
        item.releaseDate | date: "dd/MM/yyyy"
      }}</span>
      -
      <span class="genres text-sm" *ngIf="item.genres">
        <ng-container *ngFor="let genre of item.genres; let i = index">
          {{ genre
          }}<ng-container *ngIf="i + 1 < item.genres.length">,</ng-container>
        </ng-container>
      </span>
      -
      <span
        class="duration"
        [ngClass]="
          item.status === 'Ended' || item.status === 'Canceled'
            ? 'text-form-error dark:text-form-errorLight'
            : 'text-form-success'
        "
      >
        {{ item.status }}
      </span>
    </div>
    <div class="episodes mb-3">
      <span class="font-bold">Seasons : </span>{{ item.numberOfSeasons }}<br />
      <span class="font-bold">Episodes : </span>{{ item.numberOfEpisodes
      }}<br />
      <span class="text-sm text-gray"
        >Last aired episode :
        {{ item.lastAiredDate | date: "dd/MM/yyyy" }}</span
      >
    </div>
    <div class="synopsis mb-3">
      {{ item.synopsis }}
    </div>
    <div
      class="directors text-base mb-3"
      *ngIf="item.creators && item.creators.length > 0"
    >
      <span class="font-bold">Created by :</span>
      <ng-container *ngFor="let creator of item.creators; let i = index">
        {{ creator.name
        }}<ng-container *ngIf="i + 1 < item.creators.length">,</ng-container>
      </ng-container>
    </div>
    <div class="cast text-base" *ngIf="item.cast">
      <div class="flex gap-[3%] justify-between text-sm">
        <div class="w-[30%]" *ngFor="let actor of item.cast">
          <div
            class="relative w-[80px] h-[80px] rounded-full overflow-hidden"
            *ngIf="actor.profile; else default"
          >
            <img
              crossorigin="anonymous"
              src="{{ imagesDomain }}/actors{{ actor.profile }}"
              alt="{{ actor.name }}"
              class="absolute inset-y-2/4 -translate-y-2/4 left-1/2 -translate-x-2/4 mb-2"
            />
          </div>
          <ng-template #default>
            <div
              class="relative bg-whitegrey w-[80px] h-[80px] rounded-full overflow-hidden"
            ></div>
          </ng-template>
          <div class="font-bold">{{ actor.name }}</div>
          <span class="italic">{{ actor.character }}</span>
        </div>
      </div>
    </div>

    <div
      class="progress mt-4 relative"
      *ngIf="item.discoveryDate && item.seasons"
    >
      <h3 class="mb-3">
        <ng-container *ngIf="item.progress?.completed; else inProgress">
          Completed!
        </ng-container>
        <ng-template #inProgress> My progression </ng-template>
      </h3>
      <div
        *ngIf="success"
        [@fadeOut]="success"
        class="absolute top-0 right-0 text-form-success font-bold text-center leading-[28px]"
      >
        {{ success }}
      </div>
      <div
        *ngIf="error"
        [@fadeOut]="error"
        class="absolute top-0 right-0 text-form-error dark:text-form-errorLight font-bold text-center leading-[28px]"
      >
        {{ error }}
      </div>
      <form [formGroup]="progressForm" (input)="onInputChange($event)">
        <ng-container *ngIf="totalSeasons > 1">
          <div>
            <span class="font-bold">Season</span>:
            {{ item.seasons[season?.value - 1].name }}
          </div>
          <input
            type="range"
            formControlName="season"
            min="1"
            [max]="totalSeasons"
          />
        </ng-container>

        <div class="mt-2">
          <span class="font-bold">Episode</span> {{ episode?.value }}
          <ng-container
            *ngIf="
              item.seasons[season?.value - 1].episodes[episode?.value - 1]?.name
            "
          >
            :
            {{
              item.seasons[season?.value - 1].episodes[episode?.value - 1].name
            }}</ng-container
          >
        </div>
        <input
          type="range"
          formControlName="episode"
          min="1"
          [max]="totalEpisodes"
        />
      </form>
    </div>
  </div>
</div>
