input[type="range"] {
  @apply appearance-none cursor-pointer w-full rounded-lg bg-borders-light;
}

// Tailwind don't manager range pseudo selectors, must be duplicated
input[type="range"]::-webkit-slider-runnable-track {
  @apply h-[8px] rounded-lg;
}
input[type="range"]::-moz-range-track {
  @apply h-[8px] rounded-lg;
}
input[type="range"]::-ms-track {
  @apply h-[8px] rounded-lg;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none -mt-[4px] rounded-full bg-black h-2 w-2;
}
input[type="range"]::-moz-range-thumb {
  @apply appearance-none -mt-[4px] rounded-full bg-black h-2 w-2;
}

input[type="range"]:active::-webkit-slider-thumb {
  @apply shadow-[0_0_0_10px_rgba(239,148,1,0.2)];
}
input[type="range"]:focus::-webkit-slider-thumb {
  @apply shadow-[0_0_0_10px_rgba(239,148,1,0.2)];
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 0.3s;
}
