<h3>Change my password</h3>
<form
  [formGroup]="passwordForm"
  (ngSubmit)="onSubmit()"
  class="max-w-full sm:max-w-[460px] !mb-6"
>
  <div class="password relative">
    <input
      [type]="showOldPassword ? 'text' : 'password'"
      name="old_password"
      formControlName="old_password"
      placeholder="Old password"
    />
    <span
      class="showPassword block absolute w-[24px] h-[24px] top-[12px] right-[12px]"
      [ngClass]="{active: showOldPassword}"
      (click)="showOldPassword = !showOldPassword"
    ></span>
  </div>
  <ng-container *ngIf="passwordForm.get('old_password')?.touched">
    <div
      class="error"
      *ngIf="passwordForm.get('old_password')?.hasError('required')"
    >
      Old password is required.
    </div>
  </ng-container>

  <div class="password relative">
    <input
      [type]="showNewPassword ? 'text' : 'password'"
      name="new_password"
      formControlName="new_password"
      placeholder="New password"
    />
    <span
      class="showPassword block absolute w-[24px] h-[24px] top-[12px] right-[12px]"
      [ngClass]="{active: showNewPassword}"
      (click)="showNewPassword = !showNewPassword"
    ></span>
  </div>
  <ng-container *ngIf="passwordForm.get('new_password')?.touched">
    <div
      class="error"
      *ngIf="passwordForm.get('new_password')?.hasError('required')"
    >
      New password is required.
    </div>
  </ng-container>

  <div class="password relative">
    <input
      [type]="showNewConfirmPassword ? 'text' : 'password'"
      name="confirm_new_password"
      formControlName="confirm_new_password"
      placeholder="Confirm Password"
    />
    <span
      class="showPassword block absolute w-[24px] h-[24px] top-[12px] right-[12px]"
      [ngClass]="{active: showNewConfirmPassword}"
      (click)="showNewConfirmPassword = !showNewConfirmPassword"
    ></span>
  </div>
  <ng-container *ngIf="passwordForm.get('confirm_new_password')?.touched">
    <div
      class="error"
      *ngIf="passwordForm.get('confirm_new_password')?.hasError('required')"
    >
      New password confirmation is required.
    </div>
  </ng-container>

  <div class="error" *ngIf="error">
    {{ error.error.error }}
  </div>
  <button type="submit">Save</button>
  <div
    class="success text-form-success font-bold mt-2 text-center"
    *ngIf="success"
    [@fadeOut]="success"
  >
    {{ success }}
  </div>
</form>
