@use "src/styles/form.scss";

form {
  .showPassword {
    background: url("/assets/images/icons/eye.svg");
    @apply cursor-pointer bg-[length:24px_24px] #{!important};

    &.active {
      background: url("/assets/images/icons/eye-slash.svg");
    }
  }
}
