<ng-container *ngIf="isLoading; else contentOrEmpty">
  <app-skeleton-works-list [user]="user"></app-skeleton-works-list>
</ng-container>

<ng-template #contentOrEmpty>
  <div *ngIf="hasWorks; else emptyDashboard">
    <h1>My {{ getWorkLabel(workType) }}</h1>

    <div class="max-w-[1080px]">
      <app-list-content-by-date
        [type]="workType"
        [content]="works"
        [user]="user"
        (filterChanged)="onFilterChanged($event)"
        (sortingChanged)="onSortingChanged($event)"
      ></app-list-content-by-date>
    </div>

    <p *ngIf="works.length === 0" class="italic">
      There is no works matching this filter
    </p>
  </div>

  <ng-template #emptyDashboard>
    <app-dashboard-empty [type]="workType" [user]="user"></app-dashboard-empty>
  </ng-template>
</ng-template>
