button:not(
    [mat-icon-button],
    [mat-button],
    .mat-calendar-body-cell,
    .mdc-switch
  ),
button[type="submit"]:not(
    [mat-icon-button],
    [mat-button],
    .mat-calendar-body-cell,
    .mdc-switch
  ),
.btn:not(
    [mat-icon-button],
    [mat-button],
    .mat-calendar-body-cell,
    .mdc-switch
  ) {
  @apply relative z-10 block max-w-[460px] transition duration-700 px-4 py-[17px] bg-black rounded-lg font-base font-bold text-m text-center text-white hover:bg-blackest overflow-hidden cursor-pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    right: 100%;
    left: -50%;
    top: 0;
    z-index: -1;
    transition:
      left 0.7s,
      right 0.7s,
      background 0.7s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }

  &::before {
    background: rgba(255 255 255 / 20%);
  }

  &::after {
    @apply bg-blackest;
  }

  &:hover::before,
  &:hover::after,
  &.listActive::before,
  &.listActive::after {
    left: 100%;
    right: -50%;
  }

  &:hover::after,
  &.listActive::after {
    transition-delay: 0.175s;
  }

  &.full {
    @apply max-w-none w-full m-auto;
  }

  &.btn-small {
    @apply text-sm inline-block px-[12px] py-[8px];
  }

  &.btn-white {
    @apply bg-white text-black dark:text-white border border-black hover:bg-black hover:text-white;

    &.listActive {
      @apply bg-black text-white;
    }
  }

  &.btn-transparent {
    @apply bg-transparent text-black border border-black  hover:bg-white;

    &::before {
      background: rgba(255 255 255 / 20%);
    }

    &::after {
      @apply bg-white;
    }
  }

  &.btn-add {
    @apply relative;

    span {
      @apply flex justify-center items-center pr-[18px];

      &:before {
        content: "";
        background: url("../assets/images/icons/add-white.svg") no-repeat center;
        @apply block w-[18px] h-[18px] transition-all duration-500 mr-2;
      }
    }

    &:hover {
      span:before {
        @apply rotate-180;
      }
    }

    &.btn-transparent,
    &.btn-white {
      span:before {
        background: url("../assets/images/icons/add.svg") no-repeat center;
      }
      &:hover {
        span:before {
          background: url("../assets/images/icons/add-white.svg") no-repeat
            center;
        }
      }
    }

    &__list,
    &__list.btn-white {
      span:before {
        background: url("../assets/images/icons/add-to-list.svg") no-repeat
          center;
        @apply w-[26px] h-[26px] bg-[length:26px_26px] duration-300 #{!important};
      }

      &:hover,
      &.listActive {
        span:before {
          background: url("../assets/images/icons/add-to-list-white.svg")
            no-repeat center;
          @apply bg-[length:26px_26px] #{!important};
          @apply rotate-0;
        }
      }
    }
  }
}

button[type="submit"]:not(
    [mat-icon-button],
    [mat-button],
    .mat-calendar-body-cell
  ) {
  @apply max-w-none w-full mt-4 m-auto;
}

.link {
  @apply inline-block leading-[34px];

  a {
    @apply font-normal text-sm;
  }
}

.arrow,
.arrow-back {
  @apply flex justify-between items-center;
}

.arrow {
  &::after {
    @apply relative left-0 w-[5px] h-[9px] ml-1 transition-all duration-300;

    content: "";
    background: url("../assets/images/icons/arrow-r.svg") no-repeat center;
  }

  &:hover {
    &::after {
      @apply left-[4px];
    }
  }
}

.arrow-back {
  &::before {
    @apply relative left-0 w-[5px] h-[9px] mr-1 transition-all duration-300 rotate-180;

    content: "";
    background: url("../assets/images/icons/arrow-r.svg") no-repeat center;
  }

  &:hover {
    &::before {
      @apply -left-[4px];
    }
  }
}

@property --gradientcolor1 {
  syntax: "<color>";
  initial-value: #ffe603;
  inherits: false;
}
@property --gradientcolor2 {
  syntax: "<color>";
  initial-value: #eb7f00;
  inherits: false;
}

.dark {
  button:not(
      [mat-icon-button],
      [mat-button],
      .mat-calendar-body-cell,
      .mdc-switch
    ),
  button[type="submit"]:not(
      [mat-icon-button],
      [mat-button],
      .mat-calendar-body-cell,
      .mdc-switch
    ),
  .btn:not(
      [mat-icon-button],
      [mat-button],
      .mat-calendar-body-cell,
      .mdc-switch
    ) {
    --gradientcolor1: #ffe603;
    --gradientcolor2: #eb7f00;
    background: linear-gradient(
      135deg,
      var(--gradientcolor1),
      var(--gradientcolor2)
    );
    /* stylelint-disable custom-property-no-missing-var-function */
    transition:
      --gradientcolor1 0.3s,
      --gradientcolor2 0.3s;
    /* stylelint-enable custom-property-no-missing-var-function */
    @apply text-black #{!important};

    &:hover,
    &.active {
      --gradientcolor1: #fff599 !important;
      --gradientcolor2: #fabc1e !important;
    }

    &:before,
    &:after {
      display: none;
    }

    &.btn-transparent {
      @apply text-black #{!important};
      background: white !important;

      &:hover {
        --gradientcolor1: #fff599 !important;
        --gradientcolor2: #fabc1e !important;
        background: linear-gradient(
          135deg,
          var(--gradientcolor1),
          var(--gradientcolor2)
        ) !important;
      }
    }

    &.btn-add {
      span {
        &:before {
          background: url("../assets/images/icons/add.svg") no-repeat center;
        }
      }

      &.btn-transparent,
      &.btn-white {
        span:before {
          background: url("../assets/images/icons/add.svg") no-repeat center;
        }
        &:hover {
          span:before {
            background: url("../assets/images/icons/add.svg") no-repeat center;
          }
        }
      }

      &__list,
      &__list.btn-white {
        span:before {
          background: url("../assets/images/icons/add-to-list.svg") no-repeat
            center;
          @apply w-[26px] h-[26px] bg-[length:26px_26px] duration-300 #{!important};
        }

        &:hover,
        &.listActive {
          span:before {
            background: url("../assets/images/icons/add-to-list.svg") no-repeat
              center;
            @apply bg-[length:26px_26px] #{!important};
            @apply rotate-0;
          }
        }
      }
    }
  }

  .arrow {
    &::after {
      background: url("../assets/images/icons/arrow-r-white.svg") no-repeat
        center;
    }
  }
  .arrow-back {
    &::before {
      background: url("../assets/images/icons/arrow-r-white.svg") no-repeat
        center;
    }
  }
}
