form,
.form {
  @apply my-5 sm:mb-10;

  label {
    @apply block font-bold mb-[10px] pl-[1px] mt-[30px] dark:text-white;
  }

  input {
    @apply block w-full h-[50px] mb-3 px-2 text-black rounded-lg border border-borders-light dark:bg-blacker dark:text-white dark:border-borders-darker;

    &.ng-touched.ng-invalid {
      @apply border-form-error;
    }

    &:read-only {
      @apply bg-whitegrey dark:bg-borders-dark dark:bg-black;
    }

    &.search {
      @apply bg-search dark:bg-search-white bg-no-repeat bg-[position:calc(100%-12px)_center] pr-4;
    }

    &:focus,
    &:focus-visible,
    &:active {
      @apply outline-none border border-black;
    }
  }

  button {
    @apply block mt-4;
  }

  .error {
    @apply relative top-[-15px] text-form-error dark:text-form-errorLight text-sm text-left;
  }
}
