<ng-container *ngIf="tokenSent; else resetForm">
  <h1>Reset link sent</h1>
  <h3>Check your emails to regenerate your password.</h3>
</ng-container>

<ng-template #resetForm>
  <h1>Reset my password</h1>
  <form [formGroup]="sendTokenForm" (ngSubmit)="onSubmit()">
    <input type="email" formControlName="email" placeholder="Email" />
    <ng-container *ngIf="sendTokenForm.get('email')?.touched">
      <div
        class="error"
        *ngIf="sendTokenForm.get('email')?.hasError('required')"
      >
        Email is required.
      </div>
      <div class="error" *ngIf="sendTokenForm.get('email')?.hasError('email')">
        Please enter a valid email address.
      </div>
    </ng-container>
    <div class="error" *ngIf="error">
      {{ error.error.error }}
    </div>
    <button type="submit">Send a reset link</button>
  </form>
</ng-template>
