.filters {
  @apply mb-3;

  a {
    @apply ml-1;

    &:first-child {
      @apply ml-0;
    }

    &.active {
      --gradientcolor1: rgb(255 230 3 / 100%);
      --gradientcolor2: rgb(235 127 0 / 100%);

      background: linear-gradient(
        135deg,
        var(--gradientcolor1),
        var(--gradientcolor2)
      );

      @apply text-black;

      &:before,
      &:after {
        @apply hidden;
      }
    }
  }
}

.dropdown {
  @apply absolute top-0 right-3 inline-block;

  .dropdown-toggle {
    @apply cursor-pointer p-1 bg-whiteshade border border-borders-dark rounded-lg font-bold;

    &:hover {
      @apply bg-whitegrey;
    }
  }

  .dropdown-menu {
    @apply absolute right-0 w-[230px] bg-white drop-shadow-base rounded-lg  list-none mt-1 z-10;

    li {
      @apply cursor-pointer rounded-lg p-1 dark:text-black;

      &:hover {
        @apply bg-whiteshade dark:bg-borders-dark;
      }
    }
  }
}
