<div class="filters" *ngIf="filters">
  <a
    class="btn btn-small"
    *ngFor="let filter of filters"
    [ngClass]="{active: activeFilter === filter}"
    (click)="filterByGenre(filter)"
    >{{ filter }}</a
  >
</div>
<div class="dropdown z-10" (click)="toggleDropdown()">
  <div class="dropdown-toggle max-w-[250px] flex justify-start items-center">
    <img
      src="/assets/images/icons/sort.svg"
      alt="Filter"
      class="max-w-[10px] mr-1"
    />
    <div
      class="block whitespace-nowrap text-ellipsis overflow-hidden dark:text-black"
    >
      {{ sortLabel }}
    </div>
  </div>
  <ul *ngIf="showDropdown" class="dropdown-menu">
    <li *ngFor="let option of sortOptions" (click)="sort(option)">
      {{ option.label }}
    </li>
  </ul>
</div>
