<ng-container *ngIf="isLoading; else contentOrEmpty">
  <app-skeleton-collections-list [user]="user"></app-skeleton-collections-list>
</ng-container>

<ng-template #contentOrEmpty>
  <div
    class="relative"
    *ngIf="lists && lists.length > 0; else emptyCollection"
    class="pr-6"
  >
    <h1>My collections</h1>
    <a
      (click)="openModal('addList')"
      class="add btn btn-transparent btn-add mt-2 mb-5 !max-w-[340px]"
    >
      <span>Add a collection</span>
    </a>

    <div class="pr-6">
      <app-list-collections
        [content]="lists"
        [user]="user"
      ></app-list-collections>
    </div>
  </div>

  <ng-template #emptyCollection>
    <app-collections-empty></app-collections-empty>
  </ng-template>
</ng-template>

<app-modal
  modalId="addList"
  [classes]="isMobile ? '!h-[400px] !max-w-[90%]' : '!max-w-[600px] !h-[400px]'"
  #createListModal
>
  <app-create-list [user]="user!"></app-create-list>
</app-modal>
