<div class="md:flex justify-start items-start" #gameDetailsElement>
  <div class="image md:top-0 md:sticky z-40">
    <div
      *ngIf="isMobile && !isTablet"
      class="text-center text-xl leading-11 font-bold mb-2"
    >
      {{ item.title }}
      <span class="year font-normal"
        >({{ item.releaseDate | date: "yyyy" }})</span
      >
    </div>
    <app-work-details-image [item]="item"></app-work-details-image>
    <div
      *ngIf="item.rating"
      class="ml-[calc((100%-251px)/2)] md:ml-0 text-sm italic grey mt-[4px]"
    >
      Rating source : {{ gamesProviders[item.provider] }}
    </div>
    <ng-container *ngIf="item.discoveryDate; else addToUser">
      <app-work-date [item]="item" [list]="list" [user]="user"></app-work-date>
      <app-edit-work-rating [item]="item"></app-edit-work-rating>
      <app-details-add-to-list
        [user]="user"
        [item]="item"
      ></app-details-add-to-list>
    </ng-container>
    <ng-template #addToUser>
      <a
        class="btn btn-add !pl-2 !pr-[4px] !text-[18px] !max-w-[251px] mt-3"
        (click)="addFromList(item, user, $event)"
        ><span>Add to my games</span></a
      >
      <div class="error" *ngIf="addError" [@fadeOut]="addError">
        {{ addError.error.error }}
      </div>
    </ng-template>
    <app-work-lists [item]="item"></app-work-lists>
  </div>
  <div class="infos">
    <div
      *ngIf="!isMobile || isTablet"
      class="text-xl leading-11 font-bold mb-2"
    >
      {{ item.title }}
      <span class="year font-normal"
        >({{ item.releaseDate | date: "yyyy" }})</span
      >
    </div>
    <div class="metas text-sm text-grey dark:text-borders-dark mb-3">
      <span class="date text-sm">{{
        item.releaseDate | date: "dd/MM/yyyy"
      }}</span>
      -
      <span class="genres text-sm" *ngIf="item.genres">
        <ng-container *ngFor="let genre of item.genres; let i = index">
          {{ genre
          }}<ng-container *ngIf="i + 1 < item.genres.length">,</ng-container>
        </ng-container>
      </span>
    </div>
    <div class="synopsis mb-3">
      {{ item.summary }}
    </div>
    <div class="directors text-base mb-3" *ngIf="item.involvedCompanies">
      <span class="font-bold">Developers : </span>
      <ng-container
        *ngFor="let company of item.involvedCompanies; let i = index"
      >
        <ng-container *ngIf="company.role === 'developer'"
          >{{ company.name }}
        </ng-container>
      </ng-container>
    </div>
    <div class="platforms text-base mb-3" *ngIf="item.platforms">
      <span class="font-bold">Platforms : </span>
      <ng-container *ngFor="let platform of item.platforms; let i = index">
        {{ platform
        }}<ng-container *ngIf="i + 1 < item.platforms.length">,</ng-container>
      </ng-container>
    </div>
    <div
      class="mb-3"
      *ngIf="
        item.hltb &&
        (item.hltb.main || item.hltb.mainExtra || item.hltb.completionist)
      "
    >
      <div class="flex justify-between items-center">
        <p class="font-bold mt-0">How long to beat :</p>
        <span
          class="block w-[32px] h-[32px] bg-black dark:bg-white"
          style="
            -webkit-mask: url(&quot;/assets/images/icons/history.svg&quot;);
            mask: url(&quot;/assets/images/icons/history.svg&quot;);
            -webkit-mask-size: 32px 32px;
            mask-size: 32px 32px;
          "
        ></span>
      </div>
      <ng-container *ngFor="let hltbData of getHowLongToBeatLabelsAndValues()">
        <div *ngIf="hltbData.value !== undefined">
          {{ hltbData.label }} :
          <span class="font-bold hltb-time text-[16px]">{{
            hltbData.value
          }}</span>
          hours
        </div>
      </ng-container>
    </div>
    <div
      class="dlcs relative text-base mb-3"
      *ngIf="item.dlcs && item.dlcs.length > 0"
    >
      <span class="font-bold">DLCs : </span>
      <div
        *ngFor="
          let dlc of sortDLCByReleaseDateDescending(item.dlcs);
          let i = index
        "
        class="dlc relative flex items-start justify-start mt-2 mb-1 text-sm"
      >
        <div class="img w-[76px]" *ngIf="dlc.cover; else defaultCover">
          <img
            crossorigin="anonymous"
            src="{{ imagesDomain }}/{{ item.type }}{{ dlc.cover }}"
            alt="{{ dlc.name }}"
            class="mr-2 max-w-[60px]"
          />
        </div>
        <ng-template #defaultCover>
          <div class="img relative bg-whitegrey mr-2 w-[60px] h-[90px]">
            <div
              class="absolute w-[32px] h-[32px] inset-y-2/4 -translate-y-2/4 left-1/2 -translate-x-2/4"
            >
              <img
                class="max-w-[32px]"
                src="./assets/images/icons/{{ item.type }}.svg"
                alt="{{ item.type }} icon"
              />
            </div>
          </div>
        </ng-template>
        <ng-container *ngIf="isGameDLCOwned(dlc)">
          <div class="progress absolute -top-[7px] left-[50px] max-w-[18px]">
            <img src="./assets/images/icons/completed.svg" alt="DLC owned" />
          </div>
        </ng-container>
        <div class="metas pt-[4px] max-w-[75%]">
          <div class="name">
            {{ dlc.name }} -
            <span class="text-grey dark:text-borders-dark">{{
              dlc.releaseDate | date: "dd/MM/yyyy"
            }}</span>
          </div>
          <ng-container *ngIf="item.discoveryDate">
            <div
              (click)="updateDLCs(item, user, dlc.providerId, 'post')"
              *ngIf="!isGameDLCOwned(dlc); else remove"
              class="btn btn-small mt-2"
            >
              Add to my DLCs
            </div>
            <ng-template #remove>
              <div
                (click)="updateDLCs(item, user, dlc.providerId, 'delete')"
                *ngIf="isGameDLCOwned(dlc); else remove"
                class="btn btn-small btn-transparent mt-2"
              >
                Remove from my DLCs
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
