<h2 *ngIf="isMobile">Latest discovery</h2>
<section>
  <div class="infos">
    <h2 *ngIf="!isMobile">Latest discovery</h2>
    <div class="discovery-date text-sm text-black mb-2 sm:mb-3">
      {{ latestDiscovery.discoveryDate | date: "dd/MM/yyyy" }}
    </div>
    <div class="metas cursor-pointer" (click)="openModal(latestDiscovery._id)">
      <div class="title font-bold text-black text-[16px] sm:text-base">
        {{ latestDiscovery.title }}
      </div>
      <ng-container
        *ngIf="isMangaOrComic(latestDiscovery); else notMangaOrComic"
      >
        <div class="date text-sm text-greyer">
          {{ latestDiscovery.releaseDate }}
        </div>
      </ng-container>
      <ng-template #notMangaOrComic>
        <div class="date text-sm text-greyer">
          {{ latestDiscovery.releaseDate | date: "yyyy" }}
        </div>
      </ng-template>
      <div
        class="directors text-sm text-greyer"
        *ngIf="latestDiscovery | guardType: isMovie as movie"
      >
        <ng-container *ngIf="movie.directors && movie.directors.length > 0">
          <ng-container
            *ngFor="let director of movie.directors.slice(0, 2); let i = index"
          >
            {{ director.name
            }}<ng-container *ngIf="i + 1 < movie.directors.length && i < 1"
              >,
            </ng-container>
          </ng-container>

          <ng-container *ngIf="movie.directors.length > 2">, ...</ng-container>
        </ng-container>
      </div>
      <div
        class="directors text-sm text-greyer"
        *ngIf="latestDiscovery | guardType: isSeries as series"
      >
        <ng-container *ngIf="series.creators && series.creators.length > 0">
          <ng-container
            *ngFor="let creator of series.creators.slice(0, 2); let i = index"
          >
            {{ creator.name
            }}<ng-container *ngIf="i + 1 < series.creators.length && i < 1"
              >,
            </ng-container>
          </ng-container>

          <ng-container *ngIf="series.creators.length > 2">, ...</ng-container>
        </ng-container>
      </div>
      <div class="directors text-sm text-greyer" *ngIf="mangaOrComicItem">
        <ng-container
          *ngIf="
            mangaOrComicItem.authors && mangaOrComicItem.authors.length > 0
          "
        >
          <ng-container
            *ngFor="
              let author of mangaOrComicItem.authors.slice(0, 2);
              let i = index
            "
          >
            {{ author.name
            }}<ng-container
              *ngIf="i + 1 < mangaOrComicItem.authors.length && i < 1"
              >,
            </ng-container>
          </ng-container>

          <ng-container *ngIf="mangaOrComicItem.authors.length > 2"
            >, ...</ng-container
          >
        </ng-container>
      </div>
      <div
        class="directors text-sm text-greyer"
        *ngIf="latestDiscovery | guardType: isGame as game"
      >
        <ng-container
          *ngFor="let company of game.involvedCompanies; let i = index"
        >
          <ng-container *ngIf="company.role === 'developer'"
            >{{ company.name }}
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="image max-w-[132px]" (click)="openModal(latestDiscovery._id)">
    <img
      crossorigin="anonymous"
      src="{{ imagesPath }}{{ latestDiscovery.cover }}"
      alt="{{ latestDiscovery.title }}"
      class="mb-1 cursor-pointer"
    />
    <div class="icon cursor-pointer">
      <img
        class="max-w-[32px]"
        src="./assets/images/icons/{{ type }}.svg"
        alt="{{ type }} icon"
      />
    </div>
  </div>
</section>
