:host {
  @apply block w-[448px] max-w-full h-[250px] p-2 sm:p-4 text-white rounded-lg;

  background: linear-gradient(
    135deg,
    var(--color-yellow-light),
    var(--color-yellow-dark)
  );
}

section {
  @apply flex justify-between items-start;
}

h2 {
  @apply drop-shadow-base mb-1;
}

.infos {
  @apply relative min-w-0 max-w-full sm:min-w-[250px];
}

.image {
  @apply -top-1 sm:top-0 relative;
}

.icon {
  @apply absolute -top-1 -right-1 w-[46px] h-[46px] rounded-full bg-[rgba(255,255,255,0.7)] p-[7px];
}
