<app-modal
  *ngIf="!seen"
  modalId="news_{{ this.version }}"
  classes="!max-w-[600px]"
>
  <h1 class="text-center">Bookself Beta is out ! 🎉 🥳</h1>
  <p>
    <span class="font-bold">Bookself</span> is an app that lets you record every
    piece of culture that you've seen or played.
  </p>
  <p>
    Add works, rate them, create collections, keep track of your shows and more
    !
  </p>
  <p>Stay tuned for more features 💪</p>
  <p class="text-sm italic">
    Version 1.0 - Feel free to contact us at
    <a href="mailto:feedback@bookself.co">feedback@bookself.co</a>
  </p>
</app-modal>
